%white-border-4px {
  &:after {
    content: "";
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 4px;
    border-radius: 4px;
    border-width: 4px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-image: initial;
    transition: border 150ms linear 0s;
  }
  &:hover {
    &:after {
      border-color: rgba(255, 255, 255, 0.8);
    }
  }
}
%white-border {
  &:after {
    content: "";
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0;
    border-radius: 4px;
    border-width: 4px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-image: initial;
    transition: border 150ms linear 0s;
  }
  &:hover {
    &:after {
      border-color: rgba(255, 255, 255, 0.8);
    }
  }
}

* {
  outline: none;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

$white: rgb(249, 249, 249);

body {
  // min-height: 500vh;
  background-color: rgb(26, 29, 41);
  color: rgb(249, 249, 249);
}

.site-bounds {
  padding: 0 75px;
}
img {
  max-width: 100%;
}
//nav
nav.nav {
  background-color: #1b1d29;
  z-index: 500;
  height: 72px;
  padding: 0 36px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  .nav-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    a.logo {
      margin-right: 32px;
    }
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      li {
        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: white;
          text-decoration: none;
          font-size: 13px;

          padding: 28px 23px;
          text-transform: uppercase;
          overflow: hidden;
          letter-spacing: 1.42px;
          svg {
            fill: white;
          }

          span {
            margin-left: 8px;
            position: relative;
            &:before {
              width: 100%;
              height: 2px;
              content: "";
              background: $white;
              position: absolute;
              left: 0;
              bottom: -9px;
              transform: scaleX(0);
              transform-origin: left center;
              transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
            }
          }
          &:hover {
            span:before {
              transform: scaleX(1);
              transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
            }
          }
        }
      }
    }
    .profile-holder {
      width: 48px;
      height: 48px;
      display: inline-block;
      margin-left: auto;
    }
  }
}

//top carousel
.disney-carousel {
  padding-top: 100px;
  height: calc(100% - 50px);
  position: relative;
  .owl-stage {
    margin-bottom: 50px;
  }
  img {
    max-width: 100%;
  }
  img.overflow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .owl-item {
    pointer-events: none;
    &.active {
      pointer-events: initial;
      a {
        opacity: 1;
        transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 350ms !important;
        img.overflow {
          transform: translateX(0);
          opacity: 1;
          transition: 350ms 350ms ease-in all;
        }
      }
    }
    a {
      box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px,
        rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
      opacity: 0.5;
      transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s !important;
      display: inline-block;
      border-radius: 4px;
      overflow: hidden;
      background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42)) 0% 0% /
        cover;
      img.overflow {
        transform: translateX(25px);
        opacity: 0;
        transition: 350ms 350ms ease-in all;
      }
      @extend %white-border-4px;
    }
  }
  .owl-dots {
    display: block;
    position: absolute;
    text-align: right;
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 0;
    width: auto;
    bottom: 55px !important;
    right: 85px !important;
    .owl-theme .owl-dots {
      .owl-dot {
        span {
          width: 9px;
          height: 9px;
          margin: 5px 6px;
          background: rgb(150, 158, 171);
        }
      }
    }
  }
  .owl-nav {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 0;
    transform: translatey(-50%);
    top: 50%;
    button {
      width: 55px !important;
      margin: 0;
      svg.arrow-left,
      svg.arrow-right {
        height: auto !important;
        width: 36px !important;
        fill: white;
      }
      &.owl-prev {
        background: transparent !important;
        left: 0;
        display: inline-block;
        position: absolute;
        font-size: 40px;
        display: inline-block;
        color: white;
        transform: translatey(-50%);
        margin-top: 0;
        &:hover {
          background: transparent !important;
        }
      }
      &.owl-next {
        margin-top: 0;
        display: inline-block;
        background: transparent !important;
        position: absolute;
        font-size: 40px;
        display: inline-block;
        color: white;
        transform: translatey(-50%);
        right: 0;
      }
      &:hover {
        background: transparent !important;
      }
    }
  }
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: white !important;
}

.catalogs {
  padding-bottom: 20px;
  .catalogs-inner {
    .subtitle {
      margin: 11px 0;
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 1.4;
    }
    .catalog {
      .owl-stage-outer {
        overflow: visible;
      }
      .owl-item {
        opacity: 0.4;
        transition: 150ms ease-out opacity;
        &.active {
          opacity: 1;
          transition: 150ms ease-out opacity;
        }
      }
      .item {
        display: inline-block;
        width: 100%;
        a.item-link {
          position: relative;
          text-decoration: none;
          backface-visibility: hidden;
          box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px,
            rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
          cursor: pointer;
          overflow: hidden;
          display: block;
          position: relative;
          transform: scale(1, 1) translateZ(0px);
          transition: 300ms ease-out transform, 300ms ease-out box-shadow;
          border-radius: 4px;
          @extend %white-border;
          &:hover {
            box-shadow: rgba(0, 0, 0, 0.8) 0px 40px 58px -16px,
              rgba(0, 0, 0, 0.72) 0px 30px 22px -10px;
            transform: scale(1.05, 1.05) translateZ(0px)
              translate3d(0px, 0px, 0px);
            transition: 300ms ease-out all;
            .continue-info {
              background: rgba(0, 0, 0, 0.7);
              transition: 300ms ease-out all;
              .title {
                transition: 300ms ease-out opacity;
                opacity: 1;
              }
              .controls {
                margin-bottom: 5px;
                opacity: 1;
                transition: 300ms ease-out opacity, 300ms ease-out transform;
                transform: none;
              }
              .progress {
                transform: scaleX(0.9) translateY(-15px);
                border-radius: 20px;
                overflow: hidden;
                transform: 300ms ease-out all;
              }
            }
          }
          .continue-info {
            padding: 15px 16px 26px;
            background: rgba(0, 0, 0, 0);
            transition: 300ms ease-out all;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            .title {
              opacity: 0;
              transition: 300ms ease-out opacity;
              color: white;
              text-decoration: none;
              &.series {
                font-size: 15px;
                margin-bottom: 5px;
              }
              &.episode,
              &.movie {
                font-size: 20px;
                margin-bottom: 10px;
              }
            }

            .controls {
              margin-top: auto;
              z-index: 50;
              background: transparent;
              opacity: 0;
              transform: translateY(20px);
              transition: 300ms ease-out opacity, 300ms ease-out transform;
              button {
                &:hover {
                  transform: scale(1.1);
                  cursor: pointer;
                  transition: 300ms ease-out transform;
                }
                transition: 300ms ease-out transform;
                margin-right: 16px;
                background: rgba(225, 225, 225, 0);
                border: 2px solid white;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                svg {
                  fill: $white;
                  min-width: none;
                  z-index: auto;
                  width: 13px;
                  height: 19px;
                }
              }
            }
            .progress {
              position: absolute;
              bottom: 0;
              border-radius: 0;
              transform: none;
              transition: 300ms ease-out transform, 300ms ease-out border-radius;
              left: 0;
              right: 0;
              .progress-bar {
                background: rgba(225, 225, 225, 0.5);

                .bar {
                  background: #02e7f5;
                }
              }
            }
          }
        }
      }
    }
  }
  .owl-nav {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 0;
    transform: translatey(-50%);
    top: 50%;
    button {
      width: 55px !important;
      margin: 0;
      height: 188px;
      margin: 0 !important;
      opacity: 0;
      transition: 150ms ease-in opacity;
      &.disabled {
        opacity: 0;
        pointer-events: none;
        transition: 150ms ease-in opacity;
        &:hover {
          opacity: 0;
          transition: 150ms ease-in opacity;
        }
      }
      &:hover {
        transition: 150ms ease-in opacity;
        opacity: 0.5 !important;
      }
      svg.arrow-left,
      svg.arrow-right {
        height: auto !important;
        width: 36px !important;
        fill: white;
      }
      &.owl-prev {
        background: transparent !important;
        left: 0;
        display: inline-block;
        position: absolute;
        font-size: 40px;
        display: inline-block;
        color: white;
        transform: translatey(-50%);
        margin-top: 0;
        pointer-events: initial;
      }
      &.owl-next {
        margin-top: 0;
        display: inline-block;
        background: transparent !important;
        position: absolute;
        font-size: 40px;
        display: inline-block;
        color: white;
        transform: translatey(-50%);
        right: 0;
      }
    }
  }
}
