body {
    font-family: serif;
    max-width: 40em;
    margin: 0px auto;
    padding: 16px 8px;
    line-height: 1.2em;
    background-color:#c8cfcc;
}

.code {
    font-family: monospace;
}

pre {
    overflow: scroll;
    border-bottom: 1px solid black;
}


footer {
    clear: both;
    margin-top: 2em;
    margin-bottom: 1em;
}

nav { 
  margin-top: 1em; 
}

/*
    a {
        color: #f0b7f0; /* #606590; */
        /* font-style: italic; */
    }

    a:hover, .active-page {
        color: turquoise;
    }


img {
    max-width: 18em;
    margin-left: 1em;
    margin-bottom: 1em;
    float: right;
}
