@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');
@import url(https://fonts.bunny.net/css?family=bayon:400);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Bayon', 'Momo Trust Display', sans-serif;
}


html {
  scrollbar-color: #a6a6a6 transparent;
}

::-moz-selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
}

::selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
} 



body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFEDDB;
    background-attachment: fixed;
    background-size: cover;
	font-color: #000000;
}

h1 {
	font-size:1.2rem;
	font-weight:400;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

a, a:visited {
	color: #0084D1;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 8px;
    text-decoration-color: #f5b041;
	font-weight: 500;
}

a:hover {
	color: #000000;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 8px;
    text-decoration-color: #000000;
	font-weight: 500;
}
