@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Momo Trust Display', sans-serif;
}


html {
  scrollbar-color: #a6a6a6 transparent;
}

::-moz-selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
}

::selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
} 



body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: #252839;
  background-image: url(/images/nebula.png);
    background-attachment: fixed;
    background-size: cover;
}
ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
ul li {
  position: relative;
  list-style: none;
}
ul li a {
  font-size: 2rem;
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffffff;
  vertical-align: middle;
}
ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 3px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
}
ul li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 20px var(--clr))
}
