@import url(https://fonts.bunny.net/css?family=bayon:400);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Bayon', 'Momo Trust Display', sans-serif;
}


html {
  scrollbar-color: #a6a6a6 transparent;
}

::-moz-selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
}

::selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
} 



body {
    background: #FFEDDB;
    background-attachment: fixed;
    background-size: cover;
	text-align: center;
}

h1 {
	font-size:3.6rem;
	font-weight:400;
	line-height: 1.2;
}

h2 {
	font-size:2.8rem;
	font-weight:400;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 p {
	line-height: 1.2;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
 }

a, a:visited {
	color: #0084D1;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 8px;
    text-decoration-color: #f5b041;
	font-weight: 500;
}

a:hover {
	color: #0084D1;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 8px;
    text-decoration-color: #0084D1;
	font-weight: 500;
}
