@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Momo Trust Display', sans-serif;
}


html {
  scrollbar-color: #a6a6a6 transparent;
}

::-moz-selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
}

::selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
} 



body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: #252839;
  background-image: url(/images/nebula.png);
    background-attachment: fixed;
    background-size: cover;
}
