body {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-style: normal; 
    font-size: 0.83em;    
    line-height:1.4em;
    max-width: 560px;
    margin: 0px auto;
    padding: 1.5em;
    background-color:#4f688c;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("/log/paleblue.png");
}

.sub {
    font-family: 'Onest', sans-serif;
    font-size: 2.5em;
    font-weight: 500;
    color: #000000;
    padding-bottom: 0.3em;
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
  color:#000000;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
  color:#000000;
}

.content {
    padding: 1.5em;
    border: 1px solid black;
    background-color:#ffffff;
    margin-bottom: 2em;
}


h3 {
    border-bottom: solid 1px #cccccc;
    font-size: 1em;
    font-weight: 400;
    padding-bottom: 0.3em;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.1em;
	}


section {
	margin-bottom:2em;
}



.footer {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    color: #FF0066;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    background-color: #ffffff;
    width: 100%;
    border-radius: 50px;
    margin: auto;
    margin-top: 1.8em;
    text-align: center;
  }

.footer a {
  color: #000000;
  text-decoration:none;
    font-weight: 400;
  }

.footer a:hover {
  color: #2F5496;
  }






/* Style the tab */
.tab {
width: fit-content;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-bottom: 1.8em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.8em;
  transition: 0s;
  font-size: 1em;
  font-family: 'Inter', sans-serif;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #c0cbdf;
	font-weight:500;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: none;
}







img {
    max-width: 30em;
    /* max-height: 100%; */
    margin: 0.5em;
    alignment: center;
    /* border: dotted 0.5px #606590; */
}

blockquote {
    border-left: 1px solid;
    padding-left: 1ch;
    font-style: italic;
}
