html {
color: #000000;
background: #ffffff;
font-family: 'Courier Prime', monospace;
font-size: 16px;
line-height: 1em;
max-width:500px;
margin:1em;
}

a, a:visited {
font-family: 'VT323', monospace;
color: #456291;
}

a:hover {
font-family: 'VT323', monospace;
text-decoration:underline;
}

.cursor {
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;}

@keyframes "blink" {from, to {color: transparent;}50% {color: #000000}}
@-moz-keyframes blink {from, to {color: transparent;}50% {color: #000000}}
@-webkit-keyframes "blink" {from, to {color: transparent;}50% {color: #000000}}
@-ms-keyframes "blink" {from, to {color: transparent;}50% {color: #000000}}
@-o-keyframes "blink" {from, to {color: transparent;}50% {color: #000000}}
