html {
	color: cyan;
	background: black;
	font-family: 'PixelOperatorMono', monospace;
	font-size: 18px;
	line-height: 16px;
	display: table;
	margin: auto;
max-width:500px;}

pre {margin: 0 0; font-family: 'PixelOperatorMono', monospace; font-size: 18px;}

a {color: cyan; font-family: 'PixelOperatorMono', monospace; font-size: 18px;}
	
.hcyan {
	display: inline-block;
	color: black;
	background: cyan;
	font-family: 'PixelOperatorMono', monospace;
	font-size: 18px;}

.cursor {
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;}

@keyframes "blink" {from, to {color: transparent;}50% {color: cyan}}
@-moz-keyframes blink {from, to {color: transparent;}50% {color: cyan}}
@-webkit-keyframes "blink" {from, to {color: transparent;}50% {color: cyan}}
@-ms-keyframes "blink" {from, to {color: transparent;}50% {color: cyan}}
@-o-keyframes "blink" {from, to {color: transparent;}50% {color: cyan}}

@font-face {
  font-family: 'PixelOperatorMono';
  src: url('/font/PixelOperatorMono.eot?#iefix') format('embedded-opentype'),  url('/font/PixelOperatorMono.woff') format('woff'), url('/font/PixelOperatorMono.ttf')  format('truetype'), url('/font/PixelOperatorMono.svg#PixelOperatorMono') format('svg');
  font-weight: normal;
  font-style: normal;}
