body {background:url(https://piczo.neocities.org/bg2.jpg) repeat fixed center top;
}


.content{ width: 479px;
height:100%;
position: absolute;
top:0;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
background-color:#f3d8dc;
text-align:center;
border-right: 1px solid #ffffff;
border-left: 1px solid #ffffff;
color:#ffffff;}

img {padding:0;margin-top:3px;border:0;}

#top, #bottom, #left, #right {
	background: #ffffff;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 5px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 5px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
		
h1 {background-color:#513245;
    font-family: arial;
    font-size:28pt;
    line-height:6px;
    letter-spacing:-2px;
padding:0;
text-align:center;
    border-bottom:6px solid #513245;
    margin:0;
    color:#ffffff;
}
    
h2 {background-color:#9E87A1;
    font-family:"times new roman";
    color:#ffffff;
    font-size:8pt;
    text-transform:uppercase;
    font-weight:normal;
    text-align:left;
        border-top:2px solid #ffffff;
    margin:0;}

h3 {background-color:#DBCFDF;
font-size:8pt;
line-height:9pt;
font-family:arial;
color:#000000;
  font-weight:normal;
  margin:0;
}
h4 {background-color:transparent;
font-size:8pt;
line-height:9pt;
font-family:arial;
color:#000000;
  font-weight:normal;
  margin:0;
}

.link, .link:visited {display:block;

background:#F9F3DC;
color:#000000;
cursor:crosshair;
text-decoration:none;}
.link:hover {display:block;
background:#ffffff;
color:#A56557;
border:1px dashed #A56557;
font-weight:bold;
}
