body {
  background-color: #000000;
  color: #ffffff;
  font-family: lucida;
  text-align: center;
  text-shadow: 1px 1px 1px #000000;
  margin:1.5em; }

td {
  text-align: justify;
  vertical-align: middle;
  text-shadow: 1px 1px 1px #000000;  }


h4	{margin-top:2em;}
  
a:link {  color: #ff6f6f;}
a:visited {  color:  #ff6f6f;}
a:hover {  color:  #ffffff;}
a:active {  color:  #ff4c4c;}
