html { 
font-family: 'Rubik', sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
	display: block;
}
audio,canvas,progress,video {
	display: inline-block;
	vertical-align: baseline;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden],template {
	display: none;
}
a {
	background-color: transparent;
}
a:active,a:hover {
	outline: 0;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b,strong {
	font-weight: 500;
}
dfn {
	font-style: italic;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
mark {
	background: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0;
	max-width: 100%;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 1em 40px;
}
hr {
	box-sizing: content-box;
	height: 0;
}
pre {
	overflow: auto;
}
code,kbd,pre,samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
button,input,optgroup,select,textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}
button {
	overflow: visible;
}
button,select {
	text-transform: none;
}
button,html input[type="button"], input[type="reset"],input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled],html input[disabled] {
	cursor: default;
}
button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input {
	line-height: normal;
}
input[type="checkbox"],input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
}
optgroup {
	font-weight: bold;
}

table {
      width: 100%;
}
table, th, td {
  border-collapse: collapse;
  padding: 8px;
  text-align: left;  
  vertical-align: top;
}

tr {
  border-bottom: 1px solid #b9bcbc;
}

tr:last-child
{
   border-bottom: none;
}

html {
	font-size: 1em;
	line-height: 1.5;
}
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #b9bcbc;
	margin: 1em 0;
	padding: 0;
}
audio,canvas,iframe,img,svg,video {
	vertical-align: middle;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
.hidden {
	display: none !important;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.invisible {
	visibility: hidden;
}
.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
@media only screen and (min-width: 35em) {
}
@media print,(-webkit-min-device-pixel-ratio: 1.25),(min-resolution: 1.25dppx),(min-resolution: 120dpi) {
}
@media print {
	*,*:before,*:after,*:first-letter,*:first-line {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	a[href^="#"]:after,a[href^="javascript:"]:after {
		content: "";
	}
	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr,img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	p,h2,h3 {
		orphans: 3;
		widows: 3;
	}
	h2,h3 {
		page-break-after: avoid;
	}
}
h1, h2, h3, h4, h5, h6 {
	color: #212121;
	background: none;
	font-weight: normal;
	margin: 0;
	overflow: hidden;
	padding-top: 0.5em;
	padding-bottom: 0.17em;
}

div.vtoptitle {
font-family: 'Livvic', sans-serif;
        font-size:18px;
	font-weight:500;
	color:#000000;
	padding-top:0.5em;
}
	
.article h1 {
font-family: 'Rubik', sans-serif;
font-size: 36px;
font-style:normal;
color:#2d2d2d;
line-height:1.3;
font-weight:300;
border-bottom: 2px solid #b9bcbc;
padding-bottom: 10px;
margin-bottom: 15px;
}

.article a, a:visited {
color: #BF0017;
font-weight:400;
}

.article h2 {
	font-size: 1.6em;
	margin: 0.5em 0 0.5em 0;
  font-family: 'Rubik', sans-serif;
	border-bottom: 1px solid #b9bcbc;
	line-height: 1.4em;
	font-weight:500;
	padding-bottom: 0em;
}
.article h3 {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 1.25em;
}

.article h4 {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 1.2em;
}

.article p.topquote {
	padding: 0 0 0 3em;
}

.article p.category {
	margin:0 0 0 0;
	padding-bottom:10px;
	font-weight: 500;
}

p.siteSub {
	font-size: 92%;
}
body {
	background-color:#86AFD8;
	background-image: url("/img/grain1.png");
	background-repeat: repeat;
	background-attachment: fixed;
}
ul {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0.3em 0 0 0;
	color:#3a3a3a;
}
h1 {
	line-height: 1.4;
	margin-bottom: 0.25em;
	padding: 0;
	letter-spacing: 0;
	font-size: 2.3em;
}
a, a:visited {
	color: #BF0017;
	text-decoration: none;
}
a:hover {
	color:#09173f;
	text-decoration: underline;
}
.wrapAll {
	width: 100%.
}
div.articleRight {
	max-width:300px;
	width:280px;
	border: 1px solid #b9bcbc;
	padding: 2px;
	float: right;
	background-color: #f8f9fa;
	text-align: center;
	overflow: hidden;
	line-height: 1.4em;
	font-size: 94%;
	margin: 0 0 5px 15px;
}
div.articleRightInner {
	width:auto;
	padding: 2px;
	background-color: #f8f9fa;
	font-size: 94%;
	text-align: center;
	overflow: hidden;
}
div.articletitle {
		width:auto;
		padding: 3px;
		background-color: #26235A;
		color:#ffffff;
		font-family: 'Rubik', sans-serif;
                font-size:125%;
	        font-weight:400;
	 	line-height: 1.4em;
}	

div.prevnext {
		width:auto;
		padding: 5px;
	 	line-height: 1.4em;
	  text-align:center;
		border-top: 1px solid #b9bcbc;
}

div.minititle {
		width:auto;
		padding: 10px;
		background-color: #f8f9fa;
		font-size:1.1em;
	 	font-weight:400;
		font-style:italic;
	 	line-height: 1.5em;
		color: #2d2d2d;
}

.mainsection {
	margin: 0 12em 0 12em;
}
.headerLinks {
	padding: 0.5em;
}

.article {
	padding: 1.25em 2em 2em 2em;
	background: #F2F2F2;
	line-height: 1.6;
	font-size: 0.875em;
	border: 1px solid #b9bcbc;
}
.article p {
	line-height: 1.6;
	margin: 1em 0;
	font-size: 14px;
	color:#3a3a3a;
	font-family: 'Rubik', sans-serif;
}
.article li {
	margin-left: 1em;
        color: #3a3a3a;
}
.infolist {
	padding-left:2em;
	padding-right:2em;
	color:#3a3a3a;
}
.contentsPanel {
	border: 1px solid #a2a9b1;
	background-color: #f8f9fa;
	padding: 5px;
	font-size: 98%;
	position: relative;
	line-height: 1.8em;
	width: 260px;
}
.contentsHeader {
font-family: 'Rubik', sans-serif;
	font-weight: 500;
	text-align: center;
}

.contentsPanel a, a:visited {
	font-style:normal;
	font-weight: 400;
	color:#173898;
}

.contentsPanel a:hover {
 	background-color: #D6E1E1;
	text-decoration: none;
	color:#000000;
}


.hidePanel, .showPanel {
	float: right;
	margin: 0 5px;
	position: absolute;
	right: 10px;
	cursor: pointer;
	color: #173898;
	top: 4px;
	font-size:12px;
}
.contentsPanel ul li span {
	display: inline-block;
	margin-right: 8px;
	color:#707070;
}
.contentsPanel ul li {
}
.contentsPanel ul {
	padding: 0 0 0 5px;
}
.contentsPanel ul li ul{
}
.contentsPanel ul li ul li {
}
.showPanel {
	display: none;
}
.minimizedPanel .showPanel {
	display: block;
}
.minimizedPanel .hidePanel {
	display: none
}
.contentsPanel.minimizedPanel {
	width: 130px;
}
.minimizedPanel .contentsHeader {
	text-align: left;
}
.bottombox {
	background: #fdfdfd;
	border: 1px solid #a2a9b1;
	clear: both;
	font-size: 90%;
	padding: 3px;
	line-height: 1.7em;
	margin: 1em auto 0;
}
.bottombox .header {
	background: #09173F;
	padding: 0.25em 1em;
	line-height: 1.5em;
	text-align: center;
	font-weight: 500;
	color: #ffffff;
	font-size: 115%;
	margin-bottom: 3px;
}
.bottombox .subtitle {
	background: #d9d9d9;
}
.footerbox {
	clear: both;
}

.pagefooter {
	padding: 1.5em 1.3em 2em;
	font-size: 75%;
	line-height: 2em;
}
.pagefooter a {
	display: inline-block;
	margin-right: 1em;
	color:#cccccc;
}


@media screen and (max-width: 900px) {
	.mainsection {
		margin: 0 0.5em 0 0.5em;
	}
}

@media screen and (max-width: 700px) {
	.mainsection {
		margin: 0 0.5em 0 0.5em;
	}
}

@media screen and (max-width: 550px) {
	.mainsection {
		margin: 0 0.5em 0 0.5em;
	}
}
