body {
  background-color: black;
  color: white;
  font-family: lucida;
  text-align: center;
  text-shadow: 1px 1px 1px black;  }
  margin:1.5em;

td {
  text-align: justify;
  vertical-align: middle;
  text-shadow: 1px 1px 1px black;  }


h4	{margin-top:2em;}
  
a:link {  color: #FF4C4C;}
a:visited {  color:  #FF4C4C;}
a:hover {  color:  #ffffff;}
a:active {  color:  #ff0000;}
