body {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-style: normal; 
    font-size: 0.83em;    
    line-height:1.4em;
    max-width: 560px;
    margin: 0px auto;
    padding: 1.5em;
    background-color:#4f688c;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("/log/paleblue.png");
}

.sub {
    font-family: 'Onest', sans-serif;
    font-size: 3em;
    font-weight: 500;
    color: #000000;
    padding-bottom: 0.3em;
    text-align: center;
  }  

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
  color:#000000;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
  color:#000000;
}

.content {
    padding: 1.5em;
    border: 1px solid black;
    background-color:#ffffff;
}

h3 {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 1px;
}


section {
	margin-bottom:2em;
}



footer {
    clear: both;
    margin-top: 2em;
}

/*
    a {
        color: #f0b7f0; /* #606590; */
        /* font-style: italic; */
    }

    a:hover, .active-page {
        color: turquoise;
    }
*/

.date {
    color: gray;
    /* font-size: 0.95em; */
    /* padding-right: 1em; */
}

/* .date:before { */
/*     content: '['; */
/* } */

.date:after {
    /* content: ']'; */
    content: ' â€”';
}

.extra {
    /* font-size: 0.9em; */
    margin: 0;
    height: 1.25em;
    /* background: ivory; */
    padding: 0.1em 0.1em 0.2em;
    border-bottom: 1px solid #ffea0d;
}

.summary {
    /* font-size: 0.9em; */
    padding-left: 2em;
}

img {
    max-width: 30em;
    /* max-height: 100%; */
    margin: 0.5em;
    alignment: center;
    /* border: dotted 0.5px #606590; */
}

blockquote {
    border-left: 1px solid;
    padding-left: 1ch;
    font-style: italic;
}

.long-list {
   padding: 0.5em;
}
