h1 {
  font-family: Times, Times New Roman, serif;
	font-size: 26px;
	font-weight: bold;
	
}
	
body {
  background-color: #000000;
  color: #ffffff;
  font-family: Times, Times New Roman, serif;
	font-size: 14px;
	text-align: left;
	margin-left: 50em;
	margin-top: 8em;
	margin-right: 100px;
}

.main {
  position: fixed;
    top: 5em;
    max-width:500px;
    left: 10em;
    display: block;
}

a:link {
    color: #ED98D1;
}

a:visited {
    color: lightgrey;
}

a:hover {
    color: lightgrey;
}

a:active {
    color: lightgrey;
}
