body {
    background-color: #000000;
    color: #ffffff;
    font-family: Times, Times New Roman, serif;
    font-size: 14px;
    text-align: left;
    margin-left: 5em;
    margin-top: 5em;
    max-width: 40em;
    margin-right: 5em;
    border: 1px solid #000000;
    padding: 2em;
    background-image: url(/img/main.png);
    background-attachment: fixed;
    background-size: cover;
}

div {
    text-align: right;
    font-weight: bold;
}
