body {
    background-color: #000000;
    color: #ffffff;
    font-family: Times, Times New Roman, serif;
    font-size: 14px;
    text-align: left;
    margin-left: 5em;
    margin-top: 5em;
    max-width: 40em;
    margin-right: 5em;
    border: 1px solid #000000;
    padding: 2em;
    background-image: url(/img/main.png);
    background-attachment: fixed;
    background-size: cover;
}

div {
    text-align: right;
    font-weight: bold;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

a:link {
    color: #ff6f6f;
    text-decoration: none;
}

a:visited {
    color: #ff6f6f;
}

a:hover {
    color: #ff4c4c;
    text-decoration: none;
    transition: color 0.25s linear;
}

a:active {
    color: #ff4c4c;
}
