html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1.3em;font-family:'Inter',sans-serif;font-size:0.85em;color:#3a3a3a}
h1{font-size:25px}
h2{font-size:21px}
h3{font-size:18px}
h4{font-size:16px}

::-moz-selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
}
::selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
} 

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;color:#456291;text-decoration:none}
a:hover{color:#000000;text-decoration:none;font-weight:500}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
body,html{background-color: #fbfbfb;}

header{
	color:#000000;
}

nav{display:inline-block}
b {font-weight: 500;}
.article{border-bottom:1px solid #cccccc;padding-bottom:1.5em;margin-bottom:1.5em;font-size: 1em;}
.article h2{font-weight:600;margin-bottom:0.5em;margin-top:0.5em;font-size:1.8em;font-family: 'Onest', sans-serif;line-height:1.2;color:#000000}
.article h3{font-size:3em;font-family: 'Bebas Neue', sans-serif;line-height:1.2;color:#000000;letter-spacing: 0.5px;}

.article h4 {
    font-weight: 400;
    font-size: 1.5em;
    color: #7082ad;
   	font-family: 'Bebas Neue', sans-serif;
    line-height: 1.2;
}


.article h5 {
font-weight: 400;
    font-size: 1.8em;
    color: #7082ad;
    font-family: 'Bebas Neue', sans-serif;
    line-height: 1.2;
    margin-bottom: 0.3em;
}



.hero-large {
    height: 400px;
}


.hero-wrapper {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}


.hero-content {
    position: relative;
    z-index: 6;
    max-width: 700px;
    color: #ffffff;
    flex: 1;
    display: flex;
    line-height: 24px;
    flex: 1;
    align-content: center;
    flex-wrap: wrap;
}


.hero-title-small {
    border-bottom: 2px solid #8fa0bb;
    font-size: 0.65em;
    color: #8fa0bb;
    font-family: 'Figtree',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    line-height: 24px;
    margin-bottom: 5px;
    margin-bottom: 10px;
}


.hero-title-1 {
    font-size: 2.5em;
    line-height: 65px;
    display: block;
    font-family: 'Bebas Neue', sans-serif;
	  letter-spacing: 0.5px;
}


.hero-title-2 {
    opacity: 0.7;
    font-size: 1.8em;
    line-height: 65px;
    display: block;
    font-family: 'Bebas Neue', sans-serif;
}


.hero-title-3 {
    font-size: 1.2em;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    opacity: 0.5;
    font-family: 'Onest', sans-serif;
}


.hero-title-4 {
    line-height: 45px;
    font-size: 1.4em;
    font-weight: 400;
    opacity: 0.5;
    margin-top: 0.3em;
	  font-family: 'Bebas Neue', sans-serif;
}


.hero-date {
    margin-top: 15px;
    display: flex;
	  font-size:1.1em;
}


.hero-date-icon {
    fill: #ffffff;
    margin-right: 8px;
}

.hero-date > span {
    display: flex;
    align-items: center;
    margin-right: 20px;
}


.hero-blur-svg {
    position: absolute;
    top: 0;
    right: 100px;
    z-index: 2;
    width: 600px;
    height: 400px;
}


.hero-blur-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #222222;
    width: 100%;
    height: 400px;
    overflow: hidden;
    transform: rotate(180deg);
}


.hero-blur-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    filter: blur(20px) grayscale(50%);
    width: 140%;
    left: 0px;
    opacity: 0.7;
}




.hero-responsive-img {
    display: none;
}




.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
    aspect-ratio: 6 / 4;
    object-fit: cover;
}




.quote {
    line-height: 1.2;
    font-size: 1.4em;
    padding-top: 1em;
    text-align: center;
    font-weight: 500;
    margin-left: auto;
    letter-spacing: -0.3px;
    color: #437b98de;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    padding-left: 1.5em;
    padding-right: 1.5em;
}




footer{background:#fbfbfb;}
footer p{padding:2em;color:#1F1F1F;font-size: 0.9em;}
address{padding:10px 20px 30px 10px}
.article p.date {color:#6A6A6A;margin: 0 0 0 0;font-weight: 600;font-size: 85%;letter-spacing:0.5px;text-transform:uppercase;margin-bottom: 0.2em;}
.article p {margin-bottom:1em;font-size:1.05em;margin-left: 1em;line-height: 1.4;}
aside > div{background:#ebebeb;min-height:1em;padding:30px 10px;text-align:center;color:#000000;font-family: 'Onest', sans-serif;}

a#logo{
vertical-align: middle;
    font-size: 2em;
    color: #708eb1;
    font-weight: 500;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 1em;
    padding: 0.5em;
    font-family: 'Bebas Neue';
}

a#logo:hover {
    color: #000000;
}


.maintable {
font-size: 1.1em;
}

table, th, td {
    border-collapse: collapse;
    padding: 0.8em;
    text-align: left;
    overflow-wrap: break-word;
    width: -webkit-fill-available;
    vertical-align: middle;
}

tr {
  border-bottom: 1px solid #b9bcbc;
}

tr:hover {
    background-color: #c1cad8;
}

tr:last-child 
{
   border-bottom: none;
}

#boxep {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.86em;
    color: #888888;
}


.hide {
  display: none;
}
    
.eptitles:hover + .hide {
  display: block;
  color: #888888;
}



body > section{max-width:1000px;margin:auto;padding:30px 0px;border-bottom:1px solid #999;color:#333}

#sidebarbutton{background:#286983;color:#ffffff;opacity:0.8;cursor:pointer;display:block;padding:5px}

#sidebar a.button{
    text-decoration: none;
    text-align: center;
    background: #466250;
    color: #ffffff;
    padding: 6px;
    display: block;
    margin-bottom: 0.5em;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
}

#sidebar a.button:hover{background:#adbdb3;color:#000}

#sidebarBackTop{background:#286983;color:#FFF;opacity:0.8;cursor:pointer;display:block;padding:5px}

#sidebar a.back2Top{text-decoration:none;text-align:center;background:#456291;color:#ffffff;font-weight:bold;padding:6px;border-radius: 6px;display:block;width: 75%;margin-left: auto;margin-right: auto;}

#sidebar a.back2Top:hover{background:#c1cad8;color:#000}

#sidebarContent{
    width: 250px;
    background: #ffffff;
    padding: 1em;
    padding-bottom: 2em;
}


footer a{color:#000000}
#main{margin-left:280px}
#wrapall{}
#header{max-width:1100px;overflow:hidden;}
#wrapall,#header{max-width:1100px;}
#headerLeft,#headerRight{display:inline-block;vertical-align:middle}
#headerLeft{text-align:center;margin:0.7em;}

#sidebar{
	float:left;
  position: -webkit-sticky;
  position: sticky;
  top: 0;				
				}

#page{padding:2em;}
#menuToggle{padding: 0.2em;font-size: 1.5em;font-weight: 300;text-transform: uppercase;font-family: 'Onest', sans-serif;letter-spacing: 0.5px;}
.stick #sidebarContent{height: auto;}
#stick-here{background:red}
.sidebarToggle #sidebar{display:none}
.sidebarToggle #main{margin-left:0}

@media screen and (max-width:1100px){
header{}
#headerLeft{width:auto}
#headerRight{width:60%}
}
@media screen and (max-width:820px){#sidebar{display:none}
#main{margin-left:0}
.sidebarToggle #sidebar{background:red;display:block}
.stick #sidebarContent{bottom:auto}																	
aside > div{min-height:20px;padding:10px}
.sidebarToggle #menuToggle{background:#344;color:#ffffff}
}
@media screen and (max-width:600px){
#sidebarContent {max-width: 20%}
#headerLeft{text-align:left}
#headerRight{height:auto;position:absolute;width:auto;top:46px;background:#6f9898;left:0;display:none}

	
.hero-blur-svg {
	display: none;
}

	
.showMobileMenu #headerRight{display:block}
nav ul li a{display:block;background:transparent;color:#ffffff;text-align:center;font-size:16px;padding:3px 29px;line-height:25px}
.showMobileMenu #mobileMenuToggle{background:#344;color:#ffffff}
nav ul li{display:block;margin:0}
.socialButtons{display:none}
header{padding:0 0 0 0}
#wrapall{}
#sidebarContent{right:0;background:#6f9898}
#mobileLogo{display:inline-block;font-size:17px;padding:0 3px 0 10px;font-weight:bold;color:#ffffff;text-decoration:none}
#mobileMenuToggle{display:inline-block}
}
