body {
  font-family: 'Inter', sans-serif;
  font-size: 0.82em;
  margin-bottom: 3em;
  background: #3c446b;
}

.main {
  margin: 0 auto;
  margin-top:30px;
  margin-bottom:45px;
  border:4px solid #1d1c32;
  width: 40%;
  border-radius:3px;
  }

.wrapAll {
	width: 100%;
}

p {
  margin-top:0;
  margin-bottom:1.5em;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
  color:#000000;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
  color:#000000;
}
  
.pagetop {
    font-family: 'Playfair Display', serif;
    font-size: 2.6em;
    color: #444444;
    font-weight: 400;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
	  background-color: #ffffff;
}




table {
      width: 100%;
}

table, th, td {
  border-collapse: collapse;
  padding: 0.5em;
  text-align: left;  
}

tr {
border-bottom: 3px solid #ffffff;
    background-color: #eeeeee;
}

tr:last-child
{
   border-bottom: none;
}


.text h1 {
    font-family: 'Figtree', sans-serif;
    font-size: 1.8em;
    color: #2d2d2d;
    font-weight: 400;
}

  
/*Inner text area inside main div, below the header and image.*/
.text {
  font-family: 'Inter', sans-serif;
	color: #444444;
  line-height: 1.6em;
  background:#ffffff;
  padding: 1.5em;
  }
  
/*Prevent overflow of large images in main text areas.*/
.text img {
  max-width: 100%;
  height: auto;
  }
  
/*Used for the header below the header image.*/
.sub {
    font-family: 'Figtree',sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: #ffffff;
    background: #1d1c32;
    text-align: center;
	  padding-top: 0.3em;
  	padding-bottom: 0.3em;
  }  

b {
    font-weight: 500;
}

/*Classes for links section.*/
.links {
  font-family: 'Inter', sans-serif;
  font-size:1em;
  color:white;
  background:#1d1c32;
  padding-top:1px;
  padding-bottom:5px;
  text-align:center;
  }
 
/*Links are put into a ul list element*/ 
.links ul {
  list-style-type: none;
  margin:0px;
  padding: 0;
  }
  
/*Use li for the individual links*/
.links li {
  list-style-type: none;
  display: inline-block;
  padding: 3px 10px 3px 10px;
  margin: 3px 2px 3px 2px;
  background: #663348;
  }
  
.links a {
  color: #fff;
  text-decoration:none;
    font-weight: 400;
  }
  
.links li:hover { /*The color link buttons turn when hovered over*/
  background: #774459;
  }
  
.footer {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    color: #ffffff;
    background: #1d1c32;
    padding-top: 4px;
    padding-bottom: 1px;
    text-align: center;
  }

.footer a {
  color: #ffffff;
  text-decoration:none;
    font-weight: 400;
  }

.footer a:hover {
  color: #b0d398;
  }
  


@media screen and (max-width: 1000px) {
	.main {
    margin-left: auto;
    margin-right: auto;
    width: 70%;	}
}

@media screen and (max-width: 700px) {
	.main {
    margin-left: auto;
    margin-right: auto;
    width: 70%;	}
}

@media screen and (max-width: 550px) {
	.main {
    margin-left: auto;
    margin-right: auto;
    width: 90%;	}
}
