@font-face {
font-family: Futura Medium;
src: url("/log/Futura Medium.otf");
}

@font-face {
font-family: Defiant Stain;
src: url("/log/Defiant Stain.ttf");
}

:root {
  --highlight-color: #fcda00;
  --dark-highlight-color: #ec9507;
  --theme-grey: #cccccc;
  --heading-gradient: radial-gradient(circle, var(--dark-highlight-color) 5%, var(--highlight-color) 10%, var(--dark-highlight-color) 30%, var(--highlight-color) 70%);
}

html { 
background-color:#000000;
background-attachment: fixed;
background-size: cover;
background-image: url("/log/RTD.png");
}




::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
  color:#000000;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
  color:#000000;
}

 
body {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  margin-bottom: 3em;
  color:#ffffff;
}

h1 {
font-family: 'Futura Medium', sans-serif;
    font-size: 0.8em;
    color: #ffffff;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2 {
font-family: 'Futura Medium', sans-serif;
font-size: 2.6em;
color: var(--highlight-color);
background: var(--heading-gradient);
background-clip: text;
-webkit-text-fill-color: transparent;
filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.4));
font-weight: 600;
line-height: 1.2em;
text-transform:uppercase;
text-align:center;
letter-spacing: 2px;
margin: 0 0 1em 0;
}

h3 {
    font-family: 'Defiant Stain', sans-serif;
    font-size: 2.5em;
    color: #ffffff;
    font-weight: 300;
	text-transform:uppercase;
	  text-align:center;
	letter-spacing: 1px;
}



    margin: 0.5em;

.wonk {
    rotate: -2deg;
    text-align: center;
}

.straightwonk {
    rotate: -2deg;
    text-align: justify;
}

img {
  width:80%;
}

.title {
    padding-bottom: 0.3em;
}

.pagetop {

	    font-family: 'Futura Medium', sans-serif;
    font-size: 2.8em;
color: #ffffff;
    font-weight: 600;
	line-height: 1.2em;
	text-transform:uppercase;
	  text-align:center;
	letter-spacing: 2px;
	    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
}


.words {
margin-left: auto;
margin-right: auto;
max-width: 700px;
padding-top: 3em;
padding-bottom: 3em;
color: #ffffff;
line-height: 1.65em;
font-family: 'Inter', sans-serif;
font-size: 1.1em;
font-weight: 300;
border-bottom: 2px solid #dddddd;
}

a, a:visited {
padding-bottom: 2px;
color:#FFEA33;
text-decoration:none;
}

a:hover {
color: #ffffff;
padding-bottom: 2px;
}

.sub {
color: #44403c;
    text-align: center;
    font-size: 0.8em;
    background-color: #eeeeee;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.back {
font-family: 'Futura Medium', sans-serif;
margin-top: 0.5em;
color:#44403c;
text-align: center;
font-size: 1.2em;
font-weight: 300;
color: #c68d76;
text-decoration: none;
border-bottom: none;
letter-spacing: 1px;
text-transform: uppercase;	
}

.back a {
font-weight:300;	
color:#c68d76;
text-decoration:none;
border-bottom:none;
}

.back a:hover {
font-weight:300;	
color:#ffffff;
}

.backbigger {
margin-top: 1em;
color:#44403c;
text-align: center;
font-size: 1.3em;
}

.backbigger a {
font-weight:300;	
font-family: 'Inter', sans-serif;
color:#c68d76;
text-decoration:none;
border-bottom:none;
}

.backbigger a:hover {
font-weight:300;	
font-family: 'Inter', sans-serif;
color:#000000;
}


@media screen and (max-width: 850px) {
.main {
margin-left: auto;
margin-right: auto;}
.words	{ 
max-width: 90%;}
}

@media screen and (max-width: 700px) {
.main {
margin-left: auto;
margin-right: auto;}
.words	{ 
max-width: 90%;}
}
