body {
font-size: 0.85em;
font-family: arial, sans-serif;
background-color:#FFF3DA;
background-attachment: fixed;
background-size: cover;
background-image: url("/log/back.png");
background-position: center top;
text-align:center;
  }

.main {
  margin: 0 auto;
  margin-top:1.5em;
  margin-bottom:45px;
  width: 44%;
  }

.wrapAll {
	width: 100%;
}

::-moz-selection {
	background: #adbdb3;
	text-shadow: none;
  color:#000000;
}
::selection {
	background: #adbdb3;
	text-shadow: none;
  color:#000000;
}

/*Box to contain header image*/
.header {
  padding:0px;
  overflow-y:auto;
   }

.header img {
  width:100%;
  padding:0px;
  display:block; /*Prevents extra space after image*/
  }




table {
      width: 100%;
}

table, th, td {
padding: 0.5em;
    text-align: left;
    border-collapse: collapse;
    letter-spacing: 0.02em;
    border: 1px solid #000000;
    font-family: 'Bitter', sans-serif;
}

tr {
border-bottom: 1px solid #000000;
    background-color: #eeeeeede;
}

tr:last-child
{
   border-bottom: none;
}


.text h1 {
    font-family: 'Figtree', sans-serif;
    font-size: 1.8em;
    color: #2d2d2d;
    font-weight: 400;
}


/*Inner text area inside main div, below the header and image.*/
.text {
  font-family: 'Inter',sans-serif;
  line-height: 1.5em;
  padding:0.5em;
  }

/*Prevent overflow of large images in main text areas.*/
.text img {
  max-width: 100%;
  height: auto;
  }

/*Used for the header below the header image.*/
.sub {
    font-family: 'Onest', sans-serif;
    font-size: 3em;
    font-weight: 500;
    color: #000000;
    padding-bottom: 0.1em;
    text-align: center;
  }  

b {
    font-weight: 500;
}

/*Classes for links section.*/
.links {
  font-family: 'Inter', sans-serif;
  font-size:1.3em;
  color:white;
  padding-top:1px;
  padding-bottom:5px;
  text-align:center;
  }

/*Links are put into a ul list element*/ 
.links ul {
  list-style-type: none;
  margin:0px;
  padding: 0;
  }

/*Use li for the individual links*/
.links li {
  list-style-type: none;
  display: inline-block;
  padding: 3px 10px 3px 10px;
  margin: 3px 2px 3px 2px;
  background: #663348;
  }

.links a {
  color: #fff;
  text-decoration:none;
    font-weight: 400;
  }

.links li:hover { /*The color link buttons turn when hovered over*/
  background: #5e7f6a;
  }

.footer {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    color: #000000;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    background-color: #E2E2E2;
    width: 90%;
    border-radius: 50px;
    margin: auto;
    margin-top: 1.8em;
  }

.footer a {
  color: #000000;
  text-decoration:none;
    font-weight: 400;
  }

.footer a:hover {
  color: #5e7f6a;
  }









/* Style the tab */
.tab {
    border-radius: 50px;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-bottom: 1.8em;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;}

/* Style the buttons inside the tab */
.tab button {
background-color: #f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.8em;
    transition: 0s;
    font-family: 'Inter', sans-serif;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #adbdb3;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #adbdb3;
	font-weight:500;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: none;
}









@media screen and (max-width: 1000px) {
	.main {
    margin-left: auto;
    margin-right: auto;
    width: 70%;	}
}

@media screen and (max-width: 700px) {
	.main {
    margin-left: auto;
    margin-right: auto;
    width: 70%;	}
}

@media screen and (max-width: 550px) {
	.main {
    margin-left: auto;
    margin-right: auto;
    width: 90%;	}
}
