html {
background-color:#ffffff;
}


::-moz-selection {
	background: #F0EEEA;
	text-shadow: none;
  color:#000000;
}
::selection {
	background: #F0EEEA;
	text-shadow: none;
  color:#000000;
}

 
body {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  margin-bottom: 3em;
}

h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 2.6em;
    color: #000000;
    font-weight: 400;
    text-align:center;
	margin-bottom: 0.2em;
	    margin-left: auto;
    margin-right: auto;
}

h2 {
font-family: 'Inter',sans-serif;
    font-size: 1.8em;
    color: #000000;
    font-weight: 300;
}

.wonk {
    rotate: -2deg;
    text-align: center;
}

.straightwonk {
    rotate: -2deg;
    text-align: justify;
}

img {
  width:100%;
}

.img {
  width:100%;
}

.title {
    padding-bottom: 0.3em;
}

.date {
border-radius: 10px; 
background-color: #eeeeee;    
padding-left: 1em;    
padding-right: 1em; 
font-size: 0.9em; 
width: max-content;
font-weight: 500;
}

.pagetop {
    font-family: 'DM Serif Display', serif;
    font-style:italic;
    font-size: 2.6em;
    color: #000000;
    font-weight: 400;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
}


.words {
margin-left: auto;
margin-right: auto;
max-width: 450px;
background-color: rgba(255, 255, 255, 0.8);
padding-top: 2em;
padding-bottom: 2em;
color: #444444;
line-height: 1.8em;
font-family: 'Inter', sans-serif;
font-size: 0.82em;
border-bottom: 1px solid #d5dfe7;
}

a, a:visited {
border-bottom: 1px solid #c68d76;
padding-bottom: 2px;
font-family: 'Inter', sans-serif;
color:#666666;
text-decoration:none;
}

a:hover {
font-family: 'Inter', sans-serif;
font-weight:400;
color: #000000;
border-bottom: 1px solid #c68d76;
padding-bottom: 2px;
}

.sub {
color: #444444;
    text-align: center;
    font-size: 0.8em;
    background-color: #eeeeee;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.back {
margin-top: 1em;
color:#444444;
text-align: center;
font-size: 1em;
}

.back a {
font-weight:300;	
font-family: 'Inter', sans-serif;
color:#c68d76;
text-decoration:none;
border-bottom:none;
}

.back a:hover {
font-weight:300;	
font-family: 'Inter', sans-serif;
color:#000000;
}

.backbigger {
margin-top: 1em;
color:#444444;
text-align: center;
font-size: 1.3em;
}

.backbigger a {
font-weight:300;	
font-family: 'Inter', sans-serif;
color:#c68d76;
text-decoration:none;
border-bottom:none;
}

.backbigger a:hover {
font-weight:300;	
font-family: 'Inter', sans-serif;
color:#000000;
}


@media screen and (max-width: 850px) {
.main {
margin-left: auto;
margin-right: auto;}
.words	{ 
max-width: 60%;}
}

@media screen and (max-width: 700px) {
.main {
margin-left: auto;
margin-right: auto;}
.words	{ 
max-width: 80%;}
}
