html { 
background-color:#F5F5F4;
background-attachment: fixed;
background-size: cover;
background-image: url("/log/forest.png");
}


::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
  color:#000000;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
  color:#000000;
}

 
body {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  margin-bottom: 3em;
}


img {
  width:auto;
}

.title {
    padding-bottom: 0.3em;
}

.pagetop {
    font-family: 'DM Serif Display', serif;
    font-style:italic;
    font-size: 4em;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}



a, a:visited {
border-bottom: 1px solid #c68d76;
padding-bottom: 2px;
font-family: 'Inter', sans-serif;
color:#666666;
text-decoration:none;
}

a:hover {
font-family: 'Inter', sans-serif;
font-weight:400;
color: #000000;
border-bottom: 1px solid #c68d76;
padding-bottom: 2px;
}


.back {
margin-top: 1em;
color:#ffffff;
text-align: center;
font-size: 1.8em;
}

.back a {
font-weight:300;	
font-family: 'Inter', sans-serif;
color:#e0af77;
text-decoration:none;
border-bottom:none;
}

.back a:hover {
font-weight:300;	
font-family: 'Inter', sans-serif;
color:#ffffff;
}




@media screen and (max-width: 850px) {
.main {
margin-left: auto;
margin-right: auto;}
.words	{ 
max-width: 90%;}
}

@media screen and (max-width: 700px) {
.main {
margin-left: auto;
margin-right: auto;}
.words	{ 
max-width: 90%;}
}
