html { 
background-color:#4f688c;
background-attachment: fixed;
background-size: cover;
background-image: url("/log/blue.png");
}


::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
  color:#000000;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
  color:#000000;
}

 
body {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  margin-bottom: 3em;
}


img {
  width:auto;
}

.title {
    padding-bottom: 0.3em;
}

.pagetop {
    font-family: 'Gabarito', 'Onest', sans-serif;
    font-size: 5em;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
}



a, a:visited {
padding-bottom: 2px;
font-family: 'Inter', sans-serif;
color:#666666;
text-decoration:none;
}

a:hover {
font-family: 'Inter', sans-serif;
font-weight:400;
color: #000000;
padding-bottom: 2px;
}


.back {
margin-top: 1em;
color:#ffffff;
text-align: center;
font-size: 2.2em;
}

.back a {
font-weight:300;	
font-family: 'Inter', sans-serif;
color:#e0af77;
text-decoration:none;
border-bottom:none;
}

.back a:hover {
font-weight:300;	
font-family: 'Inter', sans-serif;
color:#ffffff;
}



.footer {
    font-family: 'Inter', sans-serif;
    font-size: 1.3em;
    color: #ffffff;
padding-top: 3em;
	padding-bottom: 1em;
    text-align: center;
  }

.footer a {
  color: #b0d398;
  text-decoration:none;
    font-weight: 400;
  }

.footer a:hover {
  color: #000000;
  text-decoration:none;
  }





@media screen and (max-width: 850px) {
.main {
margin-left: auto;
margin-right: auto;}
.words	{ 
max-width: 90%;}
}

@media screen and (max-width: 700px) {
.main {
margin-left: auto;
margin-right: auto;}
.words	{ 
max-width: 90%;}
}
