html {
background-color:#ffffff;
}


::-moz-selection {
	background: #F0EEEA;
	text-shadow: none;
  color:#000000;
}
::selection {
	background: #F0EEEA;
	text-shadow: none;
  color:#000000;
}


body {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  margin-top: 3em;
  padding-bottom: 1em;
}

h1 {
    font-family: 'playfair display', serif;
    font-size: 2.6em;
    color: #444444;
    font-weight: 400;
    text-align:center;
}

h2 {
    font-family: 'playfair display', serif;
    font-size: 1.7em;
    color: #444444;
    font-weight: 400;
    text-align:center;
}

.title {
    padding-bottom: 0.3em;
}

.words {
margin-left: auto;
margin-right: auto;
max-width: 40%;
background-color: rgba(255, 255, 255, 0.8);
padding: 1em;
color: #444444;
line-height: 1.7em;
font-family: 'Inter', sans-serif;
font-size: 0.82em;
border-bottom: 1px solid #d5dfe7;
}

a, a:visited {
border-bottom: 1px solid #c68d76;
padding-bottom: 2px;
font-family: 'Inter', sans-serif;
color:#666666;
text-decoration:none;
}

a:hover {
font-family: 'Inter', sans-serif;
font-weight:400;
color: #000000;
border-bottom: 1px solid #c68d76;
padding-bottom: 2px;
}

.back {
margin-top: 2em;
text-align: center;
font-size:1.1em;
}

.back a {
font-weight:500;	
font-family: 'Inter', sans-serif;
color:#c68d76;
text-decoration:none;
}

.back a:visited {
font-weight:500;	
font-family: 'Inter', sans-serif;
color:#c68d76;
text-decoration:none;
}

.back a:hover {
font-weight:500;	
font-family: 'Inter', sans-serif;
color:#000000;
}

@media screen and (max-width: 1000px) {
.main {
margin-left: auto;
margin-right: auto;}
.words	{ 
max-width: 70%;}
}

@media screen and (max-width: 850px) {
.main {
margin-left: auto;
margin-right: auto;}
.words	{ 
max-width: 70%;}
}

@media screen and (max-width: 700px) {
.main {
margin-left: auto;
margin-right: auto;}
.words	{ 
max-width: 70%;}
}

@media screen and (max-width: 550px) {
.main {
margin-left: auto;
margin-right: auto;}
.words	{ 
max-width: 80%;}
}

@media screen and (max-width: 300px) {
.main {
margin-left: auto;
margin-right: auto;}
.words	{ 
max-width: 85%;}
}
