body{  
    font-family: 'Inter', sans-serif;
	background-color: #ffffff;
    font-size: 0.88em;
 overflow-y: scroll;
 padding: 1em;
 text-align: left;
    line-height: 1.6em;
	    color: #282828;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
  color:#000000;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
  color:#000000;
}

a {
 color: red;
 text-decoration: underline;
 font-style: italic;
}

a:visited{
 color: red;
 text-decoration: underline;
 font-style: italic;
}

a:hover{
 color: black;
 text-decoration: underline;
}

h4 { 
 font-weight: 600;
    font-style: italic;
    color: #456291;
   }

.words{
 float: left;
 width: 45%;
 padding: 1em;
}

img {
  width:100%;
}





@media screen and (max-width: 1000px) {
.words	{ 
width: 50%;}
}

@media screen and (max-width: 850px) {
.main {
width:100%;
margin-left: auto;
margin-right: auto;}
.words	{ 
width: 70%;}
}

@media screen and (max-width: 700px) {
.main {
width:100%;
margin-left: auto;
margin-right: auto;}
.words	{ 
width: 85%;}
}

@media screen and (max-width: 600px) {
.main {
width:100%;
margin-left: auto;
margin-right: auto;}
.words	{ 
width: 90%;}
}

@media screen and (max-width: 550px) {
.main {
width:100%;
margin-left: auto;
margin-right: auto;}
.words	{ 
width: 90%;}
}

@media screen and (max-width: 300px) {
.main {
width:100%;
margin-left: auto;
margin-right: auto;}
.words	{ 
width: 95%;}
}
