body{  
 font-family: 'Source Serif 4', serif;
 background-color: white;
 font-size: 0.8em; 
 overflow-y: scroll;
 padding: 0.5em;
 text-align: left;
 width: 60%;
 line-height: 1.4em;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
  color:#000000;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
  color:#000000;
}

a {
 color: red;
 text-decoration: underline;
 font-style: italic;
}

a:visited{
 color: red;
 text-decoration: underline;
 font-style: italic;
}

a:hover{
 color: black;
 text-decoration: underline;
}

h4 { 
 font-weight: 600;
    font-style: italic;
    color: #456291;
   }

.words{
 float: left;
 width: 65%;
 padding: 1em;
}


.navi{
  float: right;
  width: 20%;
  padding: 1em;
  text-align:center;
}

img {
  width:100%;
}





@media screen and (max-width: 1000px) {
.words	{ 
width: 60%;}
}

@media screen and (max-width: 850px) {
.main {
width:100%;
margin-left: auto;
margin-right: auto;}
.words	{ 
width: 55%;}
}

@media screen and (max-width: 700px) {
.main {
width:100%;
margin-left: auto;
margin-right: auto;}
.words	{ 
width: 65%;}
}

@media screen and (max-width: 600px) {
body {
width:100%;
}
.main {
width:100%;
margin-left: auto;
margin-right: auto;}
.words	{ 
width: 65%;}
.navi	{ 
padding: 1em;}
}

@media screen and (max-width: 550px) {
body {
width:100%;
}
.main {
width:100%;
margin-left: auto;
margin-right: auto;}
.words	{ 
width: 75%;}
.navi	{ 
padding: 1em;
}

@media screen and (max-width: 300px) {
body {
width:100%;
}
.main {
width:100%;
margin-left: auto;
margin-right: auto;}
.words	{ 
width: 80%;}
}
.navi	{ 
padding: 1em;}
}
