:root{
    --bg:#fbfaf7;
    --text:#242424;
    --muted:#7c7c7c;
    --accent:#d66f2d;
	--accent1:#2264ab;
    --border:#424242;
	--border1:#cacaca;
}
 
     
::-moz-selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
}

::selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
} 



*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:var(--bg);
    color:var(--text);
    font-family:Inter,sans-serif;
    font-size:14px;
    line-height:1.48;
    text-transform: lowercase !important;
}

b{
    color: var(--accent1);
    font-weight: normal !important;
    font-family: 'Geist Pixel';
    font-size: 15px;
}

/* subtle texture */

body::before{
    content:"";
    position:fixed;
    inset:0;
    pointer-events:none;
    opacity:.02;
    background:
    repeating-linear-gradient(
        0deg,
        transparent,
        transparent 2px,
        white 2px,
        white 3px
    );
}

a{
    color: var(--accent1);
    text-decoration:none;
	font-weight:500;
}

a:hover{
    color: var(--accent);
    text-decoration:none;
}

p{
	margin-bottom:20px;
	font-size:14px;
	margin-top: 5px;
}

/* layout */

.wrapper{
    max-width:550px;
    margin:auto;
    padding:20px;
}

.layout{
    display:grid;
    gap:45px;
}

@media(max-width:850px){

.layout{
    grid-template-columns:1fr;
}

.sidebar{
    position:relative !important;
}

}

/* sidebar */

.sidebar{
    position:sticky;
    top:30px;
    align-self:start;
}

.name{
    font-size:34px;
    font-weight:600;
    margin-bottom:10px;
	font-family: 'Google Sans Flex', 'Inter', sans-serif;
	text-align: center;
}

.tagline{
    color:var(--muted);
}



/* content */

.content{
    min-width:0;
}

.section{
    margin-bottom:40px;
}

.heading{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:10px;
}

.heading h2{
    color:var(--accent);
    font-size:14px;
    font-weight:600;
    letter-spacing:2px;
    text-transform: uppercase !important;
	font-family: 'Google Sans Flex', 'Inter', sans-serif;
	transform: rotate(-2deg);
}

.heading::after{
    content:"";
    height:1px;
    background:var(--border);
    flex:1;
}

.heading1{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:10px;
}

.heading1 h3{
    color:var(--accent1);
    font-size:12px;
    font-weight:500;
    letter-spacing:1px;
    text-transform: uppercase !important;
	  font-family: 'Google Sans Flex', 'Inter', sans-serif;
}

.heading1::before{
    content:"";
    height:1px;
    background:var(--border1);
    flex:1;
}





/* journal */

.entry{
    margin-bottom:20px;
}

.date{
    color:var(--muted);
    margin-bottom:3px;
}

/* photography */

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:10px;
}

.gallery img{
    width:100%;
    display:block;
	border-radius: 10px !important;
    transition: 0.3s;
}

.gallery img:hover{
    filter:none;
    transform: scale(1.05);
}

/* footer */

.footer{
    text-align: center;
    margin-top: 60px;
    padding-top: 20px;
    border-top: 1px solid var(--border);
    color: var(--muted);
    font-family: "Geist Pixel", sans-serif;
    letter-spacing: 0.3px;
	font-size:14px;
}
