:root{
    --bg:#141414;
    --text:#d6d6d6;
    --muted:#888888;
    --accent:#d66f2d;
    --border:#424242;
}


::-moz-selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
}

::selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
} 



*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:var(--bg);
    color:var(--text);
    font-family:Inter,sans-serif;
    font-size:13.5px;
    line-height:1.48;
    text-transform: lowercase !important;
}

b{
  color:var(--accent);
  font-weight: normal !important;
}

.pfp{
  width: 200px !important;
  border-radius: 5px !important;
}

/* subtle texture */

body::before{
    content:"";
    position:fixed;
    inset:0;
    pointer-events:none;
    opacity:.02;
    background:
    repeating-linear-gradient(
        0deg,
        transparent,
        transparent 2px,
        white 2px,
        white 3px
    );
}

a{
    color:#72a2d6;
    text-decoration:none;
}

a:hover{
    color:#ffffff;
    text-decoration:none;
}

p{
	margin-bottom:20px;
}

/* layout */

.wrapper{
    max-width:1000px;
    margin:auto;
    padding:35px 25px;
}

.layout{
    display:grid;
    grid-template-columns:220px 1fr;
    gap:45px;
}

@media(max-width:850px){

.layout{
    grid-template-columns:1fr;
}

.sidebar{
    position:relative !important;
}

}

/* sidebar */

.sidebar{
    position:sticky;
    top:30px;
    align-self:start;
}

.name{
    font-size:34px;
    font-weight:600;
    margin-bottom:4px;
    margin-top: -10px !important;
	font-family: 'Google Sans Flex', 'Inter', sans-serif;
}

.tagline{
    color:var(--muted);
}

.nav{
    margin-top:5px;
    margin-bottom:5px;
    padding-top:10px;
}

.nav a{
    display:block;
    padding:3px 0;
    color:var(--text);
    transition:.2s;
}

.nav a:hover{
    color:var(--accent);
    padding-left:6px;
}

.meta{
    margin-top:15px;
    color:var(--muted);
}

/* content */

.content{
    min-width:0;
}

.section{
    margin-bottom:40px;
}

.heading{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:14px;
}

.heading h2{
    color:var(--accent);
    font-size:14px;
    font-weight:600;
    letter-spacing:2px;
    text-transform: uppercase !important;
	font-family: 'Google Sans Flex', 'Inter', sans-serif;
}

.heading::after{
    content:"";
    height:1px;
    background:var(--border);
    flex:1;
}

/* journal */

.entry{
    margin-bottom:20px;
}

.date{
    color:var(--muted);
    margin-bottom:3px;
}

/* photography */

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
    gap:10px;
}

.gallery img{
    width:100%;
    display:block;
    border:1px solid var(--border);
    transition:.3s;
    filter:grayscale(10%);
}

.gallery img:hover{
    border-color:var(--accent);
    filter:none;
}

/* footer */

.footer{
    margin-top:60px;
    padding-top:20px;
    border-top:1px solid var(--border);
    color:var(--muted);
}
