:root{
    --bg:#fbfaf7;
    --text:#242424;
    --muted:#7c7c7c;
    --accent:#d66f2d;
	--accent1:#2264ab;
    --border:#424242;
	--border1:#cacaca;
}
 
     
::-moz-selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
}

::selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
} 





.marker{
  position:relative;
  z-index:0;
  display:inline;
  padding:0 .04em;
}




.marker{
  position:relative;
  z-index:0;
  display:inline;
  padding:0 .04em;
}


.marker::before{
  content:"";
  position:absolute;
  z-index:-1;

  left:-.20em;
  right:-.22em;
  top:50%;
  height:1.08em;

  background:
    linear-gradient(
      90deg,
      rgba(119,181,231,.30) 0%,
      rgba(130,191,238,.38) 10%,
      rgba(116,180,230,.34) 48%,
      rgba(133,194,239,.38) 88%,
      rgba(111,174,225,.28) 100%
    );

  transform:
    translateY(-50%)
    rotate(-.3deg)
    skewX(-1deg);

  border-radius:
    42% 18% 31% 24% /
    30% 42% 36% 48%;

  clip-path:polygon(
    0% 15%, 3% 9%, 8% 12%, 14% 6%,
    21% 10%, 29% 5%, 37% 9%, 45% 4%,
    54% 8%, 63% 4%, 71% 9%, 79% 5%,
    87% 10%, 94% 6%, 99% 12%, 100% 78%,
    97% 90%, 90% 86%, 82% 92%, 74% 87%,
    66% 94%, 57% 89%, 48% 95%, 39% 90%,
    30% 96%, 21% 91%, 13% 96%, 6% 90%,
    1% 93%
  );

  filter:blur(.2px);
}

  






*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:var(--bg);
    color:var(--text);
    font-family:Inter,sans-serif;
    font-size:13.5px;
    line-height:1.48;
    text-transform: lowercase !important;
}

b{
  color:var(--accent1);
  font-weight: normal !important;
}

.pfp{
  width: 200px !important;
  border-radius: 10px !important;
}

/* subtle texture */

body::before{
    content:"";
    position:fixed;
    inset:0;
    pointer-events:none;
    opacity:.02;
    background:
    repeating-linear-gradient(
        0deg,
        transparent,
        transparent 2px,
        white 2px,
        white 3px
    );
}

a{
    color: var(--accent1);
    text-decoration:none;
	font-weight:500;
}

a:hover{
    color: var(--accent);
    text-decoration:none;
}

p{
	margin-bottom:20px;
	font-size:14px;
	margin-top: 5px;
}

/* layout */

.wrapper{
    max-width:1000px;
    margin:auto;
    padding:35px 25px;
}

.layout{
    display:grid;
    grid-template-columns:220px 1fr;
    gap:45px;
}

@media(max-width:850px){

.layout{
    grid-template-columns:1fr;
}

.sidebar{
    position:relative !important;
}

}

/* sidebar */

.sidebar{
    position:sticky;
    top:30px;
    align-self:start;
}

.name{
    font-size:34px;
    font-weight:600;
    margin-bottom:4px;
    margin-top: -10px !important;
	font-family: 'Google Sans Flex', 'Inter', sans-serif;
}

.tagline{
    color:var(--muted);
}

.nav{
    margin-top:5px;
    margin-bottom:5px;
    padding-top:10px;
}

.nav a{
    display:block;
    padding:3px 0;
    color:var(--text);
    transition:.3s;
	font-weight:400;
	letter-spacing: 0.3px;
}

.nav a:hover{
    color: var(--accent1);
    padding-left:6px;
	letter-spacing:0.6px;
}

.nav a::before {
  content: "❯ ";
}

.meta{
    margin-top:15px;
    color:var(--muted);
    font-family: 'Google Sans Flex', 'Inter', sans-serif;
	letter-spacing:0.3px;
}

/* content */

.content{
    min-width:0;
}

.section{
    margin-bottom:40px;
}

.heading{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:10px;
}

.heading h2{
    color:var(--accent);
    font-size:14px;
    font-weight:600;
    letter-spacing:2px;
    text-transform: uppercase !important;
	font-family: 'Google Sans Flex', 'Inter', sans-serif;
	transform: rotate(-2deg);
}

.heading::after{
    content:"";
    height:1px;
    background:var(--border);
    flex:1;
}

.heading1{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:10px;
}

.heading1 h3{
    color:var(--accent1);
    font-size:12px;
    font-weight:500;
    letter-spacing:1px;
    text-transform: uppercase !important;
	  font-family: 'Google Sans Flex', 'Inter', sans-serif;
}

.heading1::before{
    content:"";
    height:1px;
    background:var(--border1);
    flex:1;
}





/* journal */

.entry{
    margin-bottom:20px;
}

.date{
    color:var(--muted);
    margin-bottom:3px;
}

/* photography */

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:10px;
}

.gallery img{
    width:100%;
    display:block;
	border-radius: 10px !important;
    transition: 0.3s;
}

.gallery img:hover{
    filter:none;
    transform: scale(1.05);
}

/* footer */

.footer{
    text-align: center;
    margin-top: 60px;
    padding-top: 20px;
    border-top: 1px solid var(--border);
    color: var(--muted);
    font-family: "Geist Pixel", sans-serif;
    letter-spacing: 0.3px;
	font-size:14px;
}
