body{
background-color: #FFF3DA;
color: #000000;
font-family: 'Geist', sans-serif;
margin-top: 3em;
margin-bottom: 3em;
}

#all{
max-width: 850px;
margin: 0 auto;
}

::-moz-selection {
	background: #EFBE53;
	text-shadow: none;
  color:#000000;
}

::selection {
	background: #EFBE53;
	text-shadow: none;
  color:#000000;
} 

#header{
height: 125px;
border-top: 2px solid #000000;
border-left: 2px solid #000000;
border-right: 2px solid #000000;
border-radius: 35px 35px 0px 0px;
background-color: #EFBE53;
}

#title{
font-weight: 500;
    margin: 0;
    text-align: center;
    color: #000000;
    font-size: 1.3em;
    font-family: georgia, sans-serif;
    font-style: italic;
    margin-top: 1.4em;
    text-transform: lowercase;
}

#subtitle {
    font-weight: 500;
    margin: 0;
    text-align: center;
    color: #000000;
    font-size: 1.1em;
    font-family: georgia, sans-serif;
    font-style: italic;
    margin-top: 1.4em;
    text-transform: lowercase;
    letter-spacing: 1px;
}

#navbox{
    background-image: linear-gradient(to right, #FFF3DA, #F2DD95);
}

#navbox ul{
    margin: 0;
    padding: 0.6em;
    text-align: center;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

#navbox li{
    list-style-type: none;
    display: inline;
    font-size: 0.95em;
    margin: 0.8em;
}

.main{
width: 100%;
}

.post{
width: 100%;
}

.text{
    padding: 1em;
    border-left: 2px solid #000000;
    background-color: #F2DD95;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

.textfinal {
    padding: 0.8em;
    border-left: 2px solid #000000;
    background-color: #F2DD95;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-radius: 0px 0px 35px 35px;
}

.textborder{
background-color: #F2DD95;
padding: 1em;
font-size: 0.9em;
line-height: 1.4;
font-family: trebuchet ms, sans-serif;
}

.textborder p {
font-size: 0.95em;
line-height: 1.5;
}

.textborder li {
    color: #000000;
    font-size: 0.95em;
    line-height: 1.5em;
    margin: 0 2em 0 1em;
}

.subheaders{
    margin: 0.2em 3em 0.5em 0em;
    font-weight: 400;
    font-size: 1.35em;
    border-bottom: 1px solid #EFBE53;
    padding-bottom: 0.2em;
    font-family: georgia, sans-serif;
    cursor: crosshair;
}

.date{
    text-transform: lowercase;
    margin: 0;
    font-size: 0.85em;
    font-family: georgia, sans-serif;
    letter-spacing: 0.2px;
}

.icon{
    float: right;
    margin-top: 1.5em;
    margin-right: 1.5em;
    width: 110px;
    border: 1px solid #000000;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}

a{
color: #000000;
text-decoration: none;
}

a:visited{
color: #000000;
text-decoration: none;
}

a:hover{
border-bottom: 1px solid #000000;
}

a:active{
font-weight: normal;
}





/* Style the tab */
.tab {
  overflow: hidden;
  border: 0px;
  background-color: #EFBE53;
}

/* Style the buttons inside the tab */
.tab button {
border-radius: 0.5em;
border: none;
outline: none;
font-style: italic;
cursor: pointer;
padding-top:0.3em;
padding-bottom:0.3em;
padding-right:1em;
padding-left:1em;
letter-spacing: 0.3px;
font-size: 0.85em;
text-transform: lowercase;
font-family: 'georgia', serif;
background: #FFF3DA;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #F2DD95;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #F2DD95;
	font-weight:500;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: none;
}







::-webkit-scrollbar{
width: 8px; 
}
    
::-webkit-scrollbar-track{
background-color: transparent;
}

::-webkit-scrollbar-thumb{
background-color: #E79D44;
}
