body{
background-color: #FFF3DA;
color: #000000;
font-family: 'Inter', sans-serif;
margin-top: 2rem;
margin-bottom: 2rem;
}

#all{
max-width: 850px;
margin: 0 auto;
}

::-moz-selection {
	background: #EFBE53;
	text-shadow: none;
  color:#000000;
}

::selection {
	background: #EFBE53;
	text-shadow: none;
  color:#000000;
} 

#header{
height: 125px;
border-top: 2px solid #000000;
border-left: 2px solid #000000;
border-right: 2px solid #000000;
border-radius: 35px 35px 0px 0px;
background-color: #EFBE53;
}

#title{
    font-weight: 500;
    margin: 0;
    text-align: center;
    color: #000000;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    margin-top: 1.6rem;
    text-transform: lowercase;
}

#subtitle {
    font-weight: 500;
    margin: 0;
    text-align: center;
    color: #000000;
    font-size: 1.1rem;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    margin-top: 1.4rem;
    text-transform: lowercase;
    letter-spacing: 1px;
}

#navbox{
    background-image: linear-gradient(to right, #FFF3DA, #F2DD95);
}

#navbox ul{
    margin: 0;
    padding: 0.6rem;
    text-align: center;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

#navbox li{
    list-style-type: none;
    display: inline;
    font-size: 0.9rem;
    margin: 0.6rem;
}

.main{
width: 100%;
}

.post{
width: 100%;
}

.text{
    padding: 0.5rem;
    border-left: 2px solid #000000;
    background-color: #F2DD95;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    background-image: linear-gradient(to top right, #F2DD95, #FFF3DA);
}

.textfinal {
    padding: 0.8rem;
    border-left: 2px solid #000000;
    background-color: #F2DD95;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-radius: 0px 0px 35px 35px;
    background-image: linear-gradient(to top right, #F2DD95, #FFF3DA);
}

.profiletext{
    padding: 0.5rem;
    border-left: 2px solid #000000;
    background-color: #F2DD95;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    background-image: linear-gradient(to bottom right, #F2DD95, #FFF3DA);
}

.textborder{
padding: 1rem;
font-size: 0.9rem;
line-height: 1.4;
font-family: 'Inter', sans-serif;
}

.textborder p {
font-size: 0.95rem;
line-height: 1.5;
}

.textborder li {
    color: #000000;
    font-size: 0.95rem;
    line-height: 1.6;
    margin: 0 0 0 1rem;
}

.profiletextborder{
    padding: 1rem;
    font-size: 0.9rem;
    line-height: 1.4;
    font-family: 'Inter', sans-serif;
}

.profiletextborder p {
font-size: 1rem;
line-height: 1.5;
font-family: 'Inter', sans-serif;
}

.profiletextborder li {
    color: #000000;
    font-size: 1rem;
    line-height: 1.5;
	list-style: none;
    margin: 0 0 0 1rem;
    font-family: 'Inter', sans-serif;
}


audio {
	  height: 2.5rem;
    width: 20rem;
}

.subheaders{
    margin: 0.2rem 0 0.5rem 0;
    font-weight: 500;
    font-size: 1.25rem;
    border-bottom: 1px solid #EFBE53;
    padding-bottom: 0.2rem;
    font-family: 'Inter', sans-serif;
    cursor: crosshair;
}

.profileheader{
    margin: 0.2rem 0 0.5rem 2rem;
    font-weight: 500;
	font-style: italic;
    font-size: 1.1rem;
    border-bottom: 1px solid #EFBE53;
    padding-bottom: 0.2rem;
    font-family: 'Inter', sans-serif;
    cursor: crosshair;
}

.date{
    text-transform: lowercase;
    margin: 0;
    font-size: 0.8rem;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.2px;
    font-style:italic;
}

.icon{
    float: right;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    width: 110px;
    border: 1px solid #000000;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.profileicon {
    float: left;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    width: 180px;
    border: 1px solid #000000;
    border-radius: 100%;
}

.profileicon img {
		transition: transform 0.3s ease;
}

.profileicon img:hover {
     transform: rotate(-3deg);
}

a{
color: #660000;
text-decoration: none;
cursor:crosshair;
}

a:visited{
color: #660000;
text-decoration: none;
}

a:hover{
color: #000000;
text-decoration: line-through;
}

a:active{
font-weight: normal;
}





/* Style the tab */
.tab {
  overflow: hidden;
  border: 0px;
  background-color: #EFBE53;
}

/* Style the buttons inside the tab */
.tab button {
background: #FFF3DA;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-style: italic;
    cursor: crosshair;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    letter-spacing: 0.3px;
    font-size: 0.8rem;
    text-transform: lowercase;
    font-family: 'Inter', sans-serif;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #F2DD95;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #F2DD95;
	font-weight:500;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: none;
}





.maintable {
font-size: 1rem;
}

table, th, td {
    border-collapse: collapse;
    padding: 0.7rem;
    text-align: left;
    overflow-wrap: break-word;
    width: -webkit-fill-available;
    vertical-align: middle;
    background: #F2DD95;
}

tr {
  border-bottom: 1px solid #000000;
}

td:hover {
    background-color: #FFF3DA;
}

tr:last-child 
{
   border-bottom: none;
}


.eptitles {
	cursor: crosshair;
}



::-webkit-scrollbar{
width: 10px; 
}
    
::-webkit-scrollbar-track{
background-color: transparent;
}

::-webkit-scrollbar-thumb{
background-color: #E79D44;
}




@media screen and (max-width:500px){
	
.icon {
width: 75px;
margin-top: 1rem;
margin-right: 1rem;
}

.textborder {
padding: 0.5rem;
}

.profileicon {
width: 80px;
}

body {
margin-top: 0.5rem;
margin-bottom: 0.5erm;
}

.subheaders {
font-size: 1rem;
}

.date {
text-transform: lowercase;
margin: 0;
font-size: 0.75rem;
}

.tab button {
font-size: 0.7rem
}

#navbox ul {
font-size: 0.95rem;
}

#title {
font-size: 1.1rem;
margin-top: 1.6rem;
}

#subtitle {
margin-top: 1.1rem;
}
	
}
