body{
background-color: #fff;
background-image: url('');
font-family: 'Geist', sans-serif;
}

#all{
background-color: #D7D3CB;
margin: 0 auto;
width: 425px;
padding: 5px 10px 5px 10px;
color: #52504a;
}

#header{
margin: 5px 0px -5px 0px;
font-weight: normal;
font-size: 36px;
text-align: center;
color: #b0aca2;
}

.container{
background-color: #fff;
box-shadow: 3px 3px 2px #827e75;
border-width: 10px 10px 0px 10px;
border-style: solid;
border-color: #fff;
width: 395px;
margin: 15px auto;
}

.picture{
width: 395px;
}

.caption{
padding: 2px 0px 10px 0px;
margin: 0px;
font-size: 18px;
color: #52504a;
}

#pagination{
text-align: center;
font-size: 18px;
}

::-webkit-scrollbar{
width: 8px; 
}
    
::-webkit-scrollbar-track{
background-color: transparent;
}

::-webkit-scrollbar-thumb{
background-color: #D7D3CB;
}

#credit{
font-size: 14px;
position: fixed;
bottom: 0;
right: 0;
}

a{
color: #b0aca2;
text-decoration: none;
}

a:visited{
color: #b0aca2;
}

a:hover{
font-style: italic;
font-weight: bold;
}

a:active{
font-style: italic;
font-weight: bold;
}

#links{
  margin: 0px;
  text-align: center;
}
