html {
  scrollbar-color: #a6a6a6 transparent;
}

body {
  background-color: white;
  color: black;
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  background-image: url("/images/roses.png");
  background-attachment: fixed;
  background-size: cover;
}
  
p {
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;
    text-align: left;
    line-height: 1.6;
}

.serify p {
    line-height: 1.5;
    font-size: 0.9rem;
    text-align: left;
    font-family: 'Source Serif 4', serif;
}

ul {
    line-height: 1.5;
    font-size: 0.9rem;
    text-align: left;
    font-family: 'Source Serif 4', serif;
}

li {
    line-height: 1.6;
}

h1 {
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-family: 'Source Serif 4', serif;
    font-style: italic;
    letter-spacing: 0.2px;
    font-size: 1.2rem;
}



h3 {
    background-image: linear-gradient(to left, #e693ad, #ffffff00);
    border-radius: 0 50px 50px 0;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 2;
    color: #ffffff;
    font-size: 0.85rem;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

  
a {  
    color: #d79b78;
    font-size: 0.9rem;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
  }

a:hover {  
	color:  #ffffff;
}


::-moz-selection {
	background: #ffeeee;
	text-shadow: none;
  color:#000000;
}

::selection {
	background: #ffeeee;
	text-shadow: none;
  color:#000000;
} 
