        body, html, * {
            box-sizing: border-box;
            word-wrap:break-word;
        }
        body {
            background-color: #e5e5e5;
            background-image: url('/log/tile.png');
					  background-repeat: repeat;
            background-attachment: fixed;
            font-family: 'Geist', sans-serif;
            font-weight: normal;
            font-size: 11px;
        }

        a, a:visited {
            color: #456291;
            text-decoration: none;
        }

            a:hover {
                color: #456291;
		border-bottom: 1px solid #456291;
		text-decoration:none;  
            }
       
				
p {
    margin: 5px 0 10px 0;
    padding: 0;
    font-family: 'Geist', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    color: #222222;
    line-height: 1.4em;
        }

        iframe, img, embed, object, video {
            max-width: 100%;
        }
         h1, h2, h3, h4, h5, {
            margin: 0;
            padding: 0;
            font-size: 12px;
        }

h6 {
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 1.3em;
    font-family: 'Geist', sans-serif;
    color: #ffffff;
    margin: 0 0 0 0;
}

        /* Structure */
        footer, .container {
            position: relative;
            clear: both;
        }
        .container {
            width: 880px;
            margin: 0 auto;
        }
        #top-navigation {
            background-color: #062fa5;
        }
            #maintitle {
                position: relative;
                overflow: hidden;
                margin: 0 auto;
                padding: 1.6em;
            }
            #links {
                background: #6699ce;
            }

            #navigation {
                 margin: 0;
  		 padding: 0;
   		 list-style-type: none;
   		 text-align: center;
   		 font-family: 'Geist', sans-serif;
   		 font-size: 1.2em;
  		 font-weight: 400;
            }

                #navigation li {
                    display: inline-block;
                    padding: 10px 0 10px 10px;
                }
                #navigation li::after {
                    margin: 0 0 0 10px;
                    content: '|';
                }
                    #navigation li a {
                       color: #ffffff;
                       font-weight: 400;
                    }
                    #navigation li a:hover {
                        color: #000000;
                    }
        #profile {
            background: #FFFFFF;
            overflow: hidden;
            padding: 0 10px;
        }
        #sidebar {
            width: 300px;
            float: left;
            position: sticky;
            top: 0;
        }   

#sidebarContent {
    width: 300px;
    padding: 1em;
    padding-bottom: 2em;
}

            #sidebar div {
               margin: 1.5em 0;
  		 font-family: 'Geist', sans-serif;
               font-weight: 400;
                font-size: 1.05em;
            }


            #photo-box {
                overflow: hidden;
            }

                #photo-box h1 {
                    margin: 0 0 0 0;
  								  font-size: 1.8em;
   									font-family: 'Geist', sans-serif;
  								  font-weight: 600;
                }

                #profile-photo, #information {
                    width: 50%;
                    float: left;
                }
				
				#information {
					padding-left: 0.9em;
				}
                    #quote, #country {
                        display: block;
                        margin-bottom: 15px;
                    }
                    #information span {
                        display: block;
                    }
            #url {
                border: 1px solid #6699ce;
                padding: 5px;
            }
            
					#url h2 {
    font-size: 0.95em;
    font-weight: 700;
    margin: 0 0 0 0;
                }

   
    
            #interests, #details {
                border: 1px solid #6699ce;
                padding: 2px;
            }
                #interests h2, #details h2 {
                    background: #6699ce;
                    font-size: 11px;
                    color: #FFFFFF;
                    margin: -2px -2px 2px -2px;
                    padding: 2px;
                }
                #interests table, #details table {
                    width: 100%;
                }
                #interests table tr, #details table tr {
                    border-bottom: 2px solid #FFFFFF;
                }
                .sidebar-label {
                    width: 30%;
                    background: #afd0ef;
                    border-right: 2px solid #FFFFFF;
                    padding: 2px;
                }
                    .sidebar-label span {
                        color: #062fa5;
                        font-size: 10px;
                        font-weight: bold;
                    }
                .sidebar-content {
                    width: 70%;
                    background: #d5e7fb;
                    padding: 2px;
                }
                    .sidebar-content span {
                        font-size: 10px;
                    }
        #content {
            width: 540px;
            float: right;
	    padding: 1em;
        }
            #content div, #content article {
                    margin: 2em 0;
            }
            #extended-network {
                border: 1px solid #000000;
                padding: 1.8em;
                text-align: center;
            }

                #extended-network span {
    font-weight: 700;
    font-size: 1.4em;
    font-family: 'Geist', sans-serif;
                }

            #blurbs h2 {
                background: #ffcc95;
                padding: 2px;
                color: #df7a36;
            }

            #blurbs h3, #blurbs h3 a {
    color: #df7a36;
    margin: 0 0 0.8em 0;
    font-family: 'Geist', sans-serif;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 1.25em;
            }

            #description {
                padding-bottom:10px;
            }
            .post-meta {
                overflow: hidden;
                margin-top: 10px;
            }
                .note-count, .reblogs {
                    width: 50%;
                    float: left;
                    margin: 0 !important;
                }
                .note-count {
                    text-align: right;
                }
                .notes {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                }
                    .notes li {
                        margin: 0;
                        padding: 5px;
                        font-size: 9px;
                        border-bottom: 1px solid #e5e5e5;
                    }
                    .notes li div {
                        margin: 0 !important;
                    }
			
			    
                
                .post-container, .autopagerize_page_element {
    			       margin: 0 !important;
    			} 
    			
    			article {
    				    margin: 0 !important;
                }
    			    
                .post {
                    padding: 1em 0;
                    border-bottom: 1px solid #d4d4d4;
                }
                
			
			.copyright {
			    text-align: center;
			    font-size: 0.95em;
			    padding: 10px;
			}
			/* Post Styles */
			.link a {
			    font-size: 12px;
			}
			.chat ul {
			    margin: 0;
			    padding: 0;
			    list-style-type: none;
			}
			    .chat ul li {
			        padding: 2px;
			    }
			    .odd {
			        background: #e5e5e5;
			    }
		    .source {
		        text-align: right;
		    }
		        .source::before {
		            content: '-';
		        }
            blockquote {
                margin: 0;
                border-left: 2px solid #ffcc95;
                padding: 0 10px;
            }
            .html_photoset {
                margin: 0 !important;
            }
			.question {
				background:#e5e5e5;
				padding: 20px;
				overflow: hidden;
			}
				.question img {
					float: left;
					margin-right: 10px;
				}
            .like_and_reblog_buttons {
                margin: 0;
                padding: 0;
                list-style-type: none;
            }
                .like_and_reblog_buttons li {
                    display: inline-block;
                    padding: 0 5px;
                }
                .like_button {
                    margin: 0 !important;
                    padding: 0;
                }
            .tag-container {
                clear: both;
                padding: 2px;
                background: #ffcc95;
            }
                .tags {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                }
                    .tags li {
                        display: inline-block;
                        margin-right: 10px;
                        font-size: 9px;
                    }
                    .tags li a {
                        color: #df7a36;
                    }
                    .tags li a:hover {
                        color: #000000;
                    }
            #pagination {
                clear: both;
                text-align: center;
            }
            #pagination ul li {
                display: inline-block;
                margin: 0 10px;
            }
