        body, html, * {
            box-sizing: border-box;
            word-wrap:break-word;
        }
        body {
            background-color: #e5e5e5;
            background-image: url('/log/tile.png');
					  background-repeat: repeat;
            background-attachment: fixed;
            font-family: 'Geist', sans-serif;
            font-weight: normal;
            font-size: 11px;
        }



::-moz-selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
}
::selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
} 



        a, a:visited {
            color: #456291;
            text-decoration: none;
        }

            a:hover {
                color: #456291;
		border-bottom: 1px solid #456291;
		text-decoration:none;  
            }
       
				
p {
    margin: 5px 0 10px 0;
    padding: 0;
    font-family: 'Geist', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    color: #222222;
    line-height: 1.4em;
        }

        iframe, img, embed, object, video {
            max-width: 100%;
        }
         h1, h2, h3, h4, h5, {
            margin: 0;
            padding: 0;
            font-size: 12px;
        }

h6 {
    font-size: 3em;
    display: block;
    font-family: 'Parkinsans', sans-serif;
    text-align: center;
    color: #ffffff;
    margin: 0 0 0 0;
}

        /* Structure */
        footer, .container {
            position: relative;
            clear: both;
        }
        .container {
            max-width:600px;
            margin: 0 auto;
        }
        #top-navigation {
            background-color: #456291;
        }
            #maintitle {
                position: relative;
                overflow: hidden;
                margin: 0 auto;
                padding: 1.6em;
							    background: #456291;
            }
            #links {
                background: #6699ce;
            }

            #navigation {
                 margin: 0;
  		 padding: 0;
   		 list-style-type: none;
   		 text-align: center;
   		 font-family: 'Geist', sans-serif;
   		 font-size: 1.2em;
  		 font-weight: 400;
		 background: #647fa9;
            }

                #navigation li {
                    display: inline-block;
                    padding: 8px 0 8px 0;
                }

                    #navigation li a {
                       color: #ffffff;
                       font-weight: 400;
                    }
                    #navigation li a:hover {
                        color: #000000;
                    }
        #profile {
            background: #FFFFFF;
            overflow: hidden;
            padding: 0 10px;
        }
        #sidebar {
            width: 300px;
            float: left;
            position: sticky;
            top: 0;
        }   


        #content {
	    padding: 1em 1em 1em 1em;
        }
            #content div, #content article {
                    margin: 0 0 1em 0;
            }
            #extended-network {
                border: 1px solid #000000;
                padding: 1.8em;
                text-align: center;
            }

                #extended-network span {
    font-weight: 700;
    font-size: 1.4em;
    font-family: 'Geist', sans-serif;
                }

            #blurbs h2 {
                background: #ffcc95;
                padding: 2px;
                color: #df7a36;
            }

            #blurbs h3, #blurbs h3 a {
    color: #456291;
    margin: 0 0 0.8em 0;
    font-family: 'Geist', sans-serif;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 1.25em;
            }

            #description {
                padding-bottom:10px;
            }
            .post-meta {
                overflow: hidden;
                margin-top: 10px;
            }
                .note-count, .reblogs {
                    width: 50%;
                    float: left;
                    margin: 0 !important;
                }
                .note-count {
                    text-align: right;
                }
                .notes {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                }
                    .notes li {
                        margin: 0;
                        padding: 5px;
                        font-size: 9px;
                        border-bottom: 1px solid #e5e5e5;
                    }
                    .notes li div {
                        margin: 0 !important;
                    }
			
			    
                
                .post-container, .autopagerize_page_element {
    			       margin: 0 !important;
    			} 
    			
    			article {
    				    margin: 0 !important;
                }
    			    
                .post {
                    padding: 1em 0;
                    border-bottom: 1px solid #d4d4d4;
                }
                
			
			.copyright {
			    text-align: center;
			    font-size: 0.95em;
			    padding: 10px;
			}
			/* Post Styles */
			.link a {
			    font-size: 12px;
			}
			.chat ul {
			    margin: 0;
			    padding: 0;
			    list-style-type: none;
			}
			    .chat ul li {
			        padding: 2px;
			    }
			    .odd {
			        background: #e5e5e5;
			    }
		    .source {
		        text-align: right;
		    }
		        .source::before {
		            content: '-';
		        }
            blockquote {
                margin: 0;
                border-left: 2px solid #ffcc95;
                padding: 0 10px;
            }
            .html_photoset {
                margin: 0 !important;
            }
			.question {
				background:#e5e5e5;
				padding: 20px;
				overflow: hidden;
			}
				.question img {
					float: left;
					margin-right: 10px;
				}
            .like_and_reblog_buttons {
                margin: 0;
                padding: 0;
                list-style-type: none;
            }
                .like_and_reblog_buttons li {
                    display: inline-block;
                    padding: 0 5px;
                }
                .like_button {
                    margin: 0 !important;
                    padding: 0;
                }
            .tag-container {
                clear: both;
                padding: 2px;
                background: #ffcc95;
            }
                .tags {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                }
                    .tags li {
                        display: inline-block;
                        margin-right: 10px;
                        font-size: 9px;
                    }
                    .tags li a {
                        color: #df7a36;
                    }
                    .tags li a:hover {
                        color: #000000;
                    }
            #pagination {
                clear: both;
                text-align: center;
            }
            #pagination ul li {
                display: inline-block;
                margin: 0 10px;
            }
