@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
    --clr-small-photo-top-border: rgb(255, 255, 255);
    --clr-small-photo-bottom-border: .photo-gallery-container;
}

* {
    margin: 0;
    padding: 0;
}

.photo-gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.photo-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    width: 700px;
    height: 603px;

}

.photo-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

/* photo-1 starts  ******************************************************************/

.cbox-1:checked~label .big-photo-1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 525px;
    background-image: url("https://picsum.photos/id/30/700/525");
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 2px hsla(0, 99%, 29%, 0.9);
}

.photo-box-01 {
    width: 100px;
    overflow: hidden;
    order: 2;
    border-top: 3px solid var(--clr-small-photo-top-border);
}

.photo-box-01 img {
    transition: transform 2s ease 0.2s;
}

.photo-box-01:hover img {
    transform: scale(1.5);
}

.cbox-div {
    width: 100px;
    height: 75px;
}

.cbox-1 {
    display: none;
}

/* photo-1 ends  ******************************************************************/


/* photo-2 start******************************************************************/

.photo-box-02 {
    overflow: hidden;
    order: 2;
    border-top: 3px solid var(--clr-small-photo-top-border);

}

.photo-box-02:hover img {
    transform: scale(1.5);
}

.photo-box-02 img {
    transition: transform 2s ease 0.2s;
}

.cbox-2 {
    display: none;
}

.cbox-2:checked~label .big-photo-2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 525px;
    background-image: url("https://picsum.photos/id/48/700/525");
    box-shadow: 0px 0px 10px 2px hsla(39, 98%, 49%, 0.9);

}



/* photo-2 ends******************************************************************/


/* photo-3 start******************************************************************/
.photo-box-03 {
    overflow: hidden;
    order: 2;
    border-top: 3px solid var(--clr-small-photo-top-border);
}

.cbox-3 {
    display: none;
}

.cbox-3:checked~label .big-photo-3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 525px;
    background-image: url("https://picsum.photos/id/58/700/525");
    box-shadow: 0px 0px 10px 2px hsla(0, 100%, 2%, 0.9);

}


.photo-box-03:hover img {
    transform: scale(1.5);
}

.photo-box-03 img {
    transition: transform 2s ease 0.2s;
}

/* photo-3 ends******************************************************************/

/* photo-4 start******************************************************************/
.photo-box-04 {
    overflow: hidden;
    order: 2;
    border-top: 3px solid var(--clr-small-photo-top-border);

}

.cbox-4 {
    display: none;
}

.cbox-4:checked~label .big-photo-4::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 525px;
    background-image: url("https://picsum.photos/id/64/700/525");
    box-shadow: 0px 0px 10px 2px hsla(62, 99%, 28%, 0.9);

}

.photo-box-04:hover img {
    transform: scale(1.5);

}

.photo-box-04 img {
    transition: transform 2s ease 0.2s;
}

/* photo-4 ends******************************************************************/

/* photo-5 start******************************************************************/
.photo-box-05 {
    overflow: hidden;
    order: 2;
    border-top: 3px solid var(--clr-small-photo-top-border);

}

.cbox-5 {
    display: none;
}

.cbox-5:checked~label .big-photo-5::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 525px;
    background-image: url("https://picsum.photos/id/96/700/525");
    box-shadow: 0px 0px 10px 2px hsla(0, 100%, 2%, 0.9);

}

.photo-box-05:hover img {
    transform: scale(1.5);

}

.photo-box-05 img {
    transition: transform 2s ease 0.2s;
}

/* photo-5 ends*****************************************************************/

/* photo-6 start******************************************************************/
.photo-box-06 {
    order: 2;
    border-top: 3px solid var(--clr-small-photo-top-border);
    overflow: hidden;

}

.cbox-6 {
    display: none;
}

.cbox-6:checked~label .big-photo-6::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 525px;
    background-image: url("https://picsum.photos/id/119/700/525");
    box-shadow: 0px 0px 10px 2px hsla(0, 0%, 31%, 0.9);

}

.photo-box-06:hover img {
    transform: scale(1.5);

}

.photo-box-06 img {
    transition: transform 2s ease 0.2s;
}

/* photo-6 ends*/

/* photo-7 start*/
.photo-box-07 {
    order: 2;
    border-top: 3px solid var(--clr-small-photo-top-border);
    overflow: hidden;
}

.cbox-7 {
    display: none;
}

.cbox-7:checked~label .big-photo-7::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 525px;
    background-image: url("https://picsum.photos/id/133/700/525");
    box-shadow: 0px 0px 10px 2px hsla(59, 100%, 34%, 0.9);

}

.photo-box-07:hover img {
    transform: scale(1.5);

}

.photo-box-07 img {
    transition: transform 2s ease 0.2s;
}

/* photo-7 ends*/


.main-photo {
    width: 708px;
    height: 525px;
    /* background-color: bisque; */
    background-image: url("https://picsum.photos/id/30/700/525");



}

h6 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;

}
