html {
  background-image: url("/img/journalhome.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-x: hidden;
  background-attachment: fixed;
}

body {
  font-family: "Times New Roman";
  height: 100%;
  text-align: left;
  color: white;
}

h1 {
  font-size: 60px;
  letter-spacing: 5px;
  font-style: italic;
  color: white;
  margin-bottom: 0
}

h2 {
  letter-spacing: 3px;
  font-style: italic;
  color: white;
}

h3 {
  font-style: italic;
  color: #766ca3;
  letter-spacing: 3px;
}

p {
  color: white;
}

span {
  background-color: #1d1a30;
}

.title {
width: 80%;
    max-width: 50%;
    margin: auto;
    margin-top: 3em;
}

.about {
  background-color: rgba(14,9,16,0.5);
  padding: 20px 40px;
  width: 80%;
  max-width: 600px;
  margin: auto;
}

.about2 {
  background-color: rgba(14,9,16,0.5);
  padding: 20px 40px;
  width: 30%;
  max-width: 250px;
  margin: auto;
  text-align: center;
}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #822323;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #822323;
  text-decoration: none;
}

.foot {
  margin: auto;
  width: 50%;
  max-width: 375px;
  text-align: center;
}

@media screen and (max-width: 1000px) {
	.main {
    margin-left: auto;
    margin-right: auto;
    width: 80%;	}
}

@media screen and (max-width: 700px) {
	.main {
    margin-left: auto;
    margin-right: auto;
    width: 80%;	}
}

@media screen and (max-width: 550px) {
	.main {
    margin-left: auto;
    margin-right: auto;
    width: 90%;	}
}
