html {
  scrollbar-color: #a6a6a6 transparent;
}

body {
  background-color: black;
  color: white;
  font-family: 'Inter', sans-serif;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
}

h1 {
    font-weight: 500;
    font-family: 'Source Serif 4', serif;
    font-style: italic;
    letter-spacing: 0.5px;
    font-size: 1.8rem;
}

h4 {
    background-image: linear-gradient(to left, #5470ae57, transparent);
    border-radius: 0 50px 50px 0;
    margin: auto;
    max-width: 350px;
    font-family: 'Source Serif 4', serif;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 1rem;
    line-height: 2;
    text-align: left;
    font-size: 0.95rem;
    text-indent: 2rem;
}


.nav {
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav a {
	color: #ffffff;
}



  
a {  
    color: #d79b78;
    text-decoration: none;
    padding-left: 0.5rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 0.9rem;
}
a:hover {  color:  #ffffff;}


::-moz-selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
}

::selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
} 
