body {
  background-color: black;
  color: white;
  font-family: 'Inter', sans-serif;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  margin:2rem;
}
  
td {
  text-align: justify;
  vertical-align: middle;
  text-shadow: 1px 1px 1px black;  }

p {
      font-family: 'Inter', sans-serif;
}

h1 {
  margin-bottom: 1.5em;
  font-weight: 200;
}

h4 {
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
}

  
a:link {  color: #FF4C4C;}
a:visited {  color:  #FF4C4C;}
a:hover {  color:  #ffffff;}
a:active {  color:  #ff0000;}


