body {
  background-color: black;
  color: white;
  font-family: 'Inter', sans-serif;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  margin:2rem;
}
  
td {
  text-align: justify;
  vertical-align: middle;
  text-shadow: 1px 1px 1px black;  }

p {
line-height: 1.4;
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;
    text-align: left;
}

.serify {
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    text-align: left;
    margin: auto;
    max-width: 400px;
    font-family: 'Source Serif 4', serif;
    padding-bottom: 1rem;
}

h1 {
margin-right: auto;
    margin-bottom: 1.5rem;
    font-weight: 400;
    margin-left: auto;
    max-width: 500px;
    font-family: 'Source Serif 4', serif;
    opacity: 0.6;
    font-style: italic;
}

h4 {
    letter-spacing: 0.5px;
    margin: auto;
    max-width: 500px;
    font-family: 'Source Serif 4', serif;
    font-weight: 500;
    font-style: italic;
    padding-bottom: 1rem;
}

  
a:link {  color: #d79b78; font-size: 0.85rem; font-weight: 500;}
a:hover {  color:  #ffffff;}


::-moz-selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
}
::selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
} 
