html {
  background-image: url("/img/pic.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-x: hidden;
  background-attachment: fixed;
}

body {
  font-family: 'Times New Roman', serif;
  font-size: 1em;
  width: 100%;
  text-align: center;
  margin-top: 3em;
  padding-bottom: 1em;
}

h1 {
    font-family: "Source Serif 4", serif;
    font-size: 1.8em;
    font-weight: 400;
    letter-spacing: 1px;
    font-style: italic;
}

h4 {
  font-family: "Source Serif 4", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 0.8em;
  letter-spacing: 1px;
}

.title {
  padding-bottom: 10px;
}

.words {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.2em 1em 1em 1em;
	margin-bottom: 1em;
	line-height: 1.3em;
	  font-family: 'Times New Roman', serif;
font-size: 1em;
}

.zoom {
  font-style: italic;
  font-family: "Source Serif 4", serif;
}

.zoom:hover {
  font-style: italic;
  font-family: "Source Serif 4", serif;
  font-weight:bold;
  color: #822323;
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #822323;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #822323;
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
.main {
margin-left: auto;
margin-right: auto;
width: 95%;}
.words	{ 
max-width: 85%;}
}

@media screen and (max-width: 850px) {
.main {
margin-left: auto;
margin-right: auto;
width: 95%;}
.words	{ 
max-width: 80%;}
}

@media screen and (max-width: 700px) {
.main {
margin-left: auto;
margin-right: auto;
width: 95%;}
.words	{ 
max-width: 80%;}
}

@media screen and (max-width: 550px) {
.main {
margin-left: auto;
margin-right: auto;
width: 95%;}
.words	{ 
max-width: 80%;}
}

@media screen and (max-width: 300px) {
.main {
margin-left: auto;
margin-right: auto;
width: 95%;}
.words	{ 
max-width: 85%;}
}
