html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1.3;font-family:'Inter',sans-serif;font-size:0.93rem;color:#3a3a3a}
h1{font-size:25px}
h2{font-size:21px}
h3{font-size:18px}

::-moz-selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
}
::selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
} 

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}

.article a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	color:#456291;
	text-decoration:none;
}

.article a:hover{
	color:#456291;
	border-bottom: 1px solid #456291;
	text-decoration:none;
}



a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	color:#456291;
	text-decoration:none;
}

a:hover{
	color:#000000;
	text-decoration:none;
}

ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
body,html{background-color: #fbfbfb;}

header{
	color:#000000;
}

nav{display:inline-block}
b {font-weight: 500;}
.article{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    font-size: 0.9rem;
}

.article h1 {
    font-weight: 700;
    font-size: 1.8rem;
    font-family: 'Stack Sans Text', sans-serif;
    line-height: 1.2;
    color: #456291;
	margin: 0 0 1rem 0;
}

.article h2 {
    font-weight: 500;
    font-size: 1.4rem;
    font-family: 'Stack Sans Text', sans-serif;
    line-height: 1.2;
    color: #000000;
	padding: 0.3rem 0px 0.6rem 0;
}

.article h3{font-size:3em;font-family: 'Bebas Neue', sans-serif;line-height:1.2;color:#000000;letter-spacing: 0.5px;}

.article h4 {
    font-weight: 400;
    font-size: 1.5em;
    color: #7082ad;
   	font-family: 'Bebas Neue', sans-serif;
    line-height: 1.2;
}


.article h5 {
font-weight: 400;
    font-size: 1.8em;
    color: #7082ad;
    font-family: 'Bebas Neue', sans-serif;
    line-height: 1.2;
    margin-bottom: 0.3em;
}



.hero-large {
    height: 250px;
}


.hero-wrapper {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}


.hero-content {
    position: relative;
    z-index: 6;
    max-width: 700px;
    color: #ffffff;
    flex: 1;
    display: flex;
    line-height: 24px;
    align-content: center;
    flex-wrap: wrap;
   	margin-left: 1em;
}


.hero-title-small {
    border-bottom: 2px solid #8fa0bb;
    font-size: 0.65em;
    color: #8fa0bb;
    font-family: 'Figtree',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    line-height: 24px;
    margin-bottom: 5px;
    margin-bottom: 10px;
}


.hero-title-1 {
    font-size: 2.6rem;
    line-height: 1.5;
    display: block;
    font-family: "Stack Sans Text", sans-serif;
    color: #ffffff;
    font-weight: 600;
    text-shadow: 2px 2px #00000080;
}


.hero-title-2 {
font-size: 2rem;
    display: block;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0.5em;
}


.hero-title-3 {
    font-weight: 400;
    font-size: 0.95rem;
    opacity: 0.8;
    font-family: "Poppins", sans-serif;
    border-bottom: 1px solid #fff;
}


.hero-title-4 {
    line-height: 45px;
    font-size: 1.4em;
    font-weight: 400;
    opacity: 0.5;
    margin-top: 0.3em;
	  font-family: 'Bebas Neue', sans-serif;
}


.hero-title-classicwho {
    letter-spacing: -0.5px;
    font-size: 2.4em;
    line-height: 65px;
    display: block;
    font-weight: 900;
    font-family: 'Figtree',sans-serif;
    text-transform: uppercase;
}


.hero-date {
    display: flex;
    opacity: 0.7;
  font-size: 0.85rem;
}


.hero-date-icon {
    fill: #ffffff;
    margin-right: 8px;
}

.hero-date > span {
    display: flex;
    align-items: center;
    margin-right: 20px;
}


.hero-blur-svg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 650px;
    height: 250px;
}


.hero-blur-background {
position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #000000;
    width: 100%;
    height: 250px;
    overflow: hidden;
}


.hero-blur-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    filter: blur(20px) grayscale(50%);
    width: 140%;
    left: 0px;
    opacity: 0.5;
}




.hero-responsive-img {
    display: none;
}




.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin: 1rem;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
    aspect-ratio: 5 / 4;
    object-fit: cover;
}




.quote {
    line-height: 1.2;
    font-size: 1.4em;
    padding-top: 1em;
    text-align: center;
    font-weight: 500;
    margin-left: auto;
    letter-spacing: -0.3px;
    color: #437b98de;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    padding-left: 1.5em;
    padding-right: 1.5em;
    max-width: 650px;quot
}







.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    align-items: self-start;
}


.grid li {
    display: grid;
    position: relative;
}


.grid li img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
    aspect-ratio: 6 / 4;
    object-fit: cover;
}





.grid li span {
    display: block;
    padding-top: 6px;
}


.grid li a {
    color: #456291;
    display: block;
    font-weight: bold;
    font-size: 16px;
}

.grid li a:hover {
		opacity: 0.85;
	  color:#456291;
	text-decoration: underline;
	    	border-bottom: none;
}

.grid li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.grid li small {
    display: block;
    font-size: 1em;
    line-height: 1.3;
    margin-top: 0.2em;
}


.grid li b {
    color: #456291;
    display: block;
    font-weight: bold;
    font-size: 16px;
}


.grid li b:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}






footer{background:#fbfbfb;}
footer p{padding:2em;color:#1F1F1F;font-size: 0.9em;}
address{padding:10px 20px 30px 10px}
.article p.date {color:#6A6A6A;margin: 0 0 0 0;font-weight: 600;font-size: 85%;letter-spacing:0.5px;text-transform:uppercase;margin-bottom: 0.2em;}

.article p {margin-bottom: 1rem;
    font-size: 0.95rem;
    margin-right: 0.5rem;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
		   }

aside > div{background:#ebebeb;min-height:1em;padding:30px 10px;text-align:center;color:#000000;font-family: 'Onest', sans-serif;}

a#logo{
   display: none;
}


table, th, td {
    border-collapse: collapse;
    padding: 0.8em;
    text-align: left;
    overflow-wrap: break-word;
    width: -webkit-fill-available;
    vertical-align: middle;
}

tr {
  border-bottom: 1px solid #b9bcbc;
}

tr:hover {
    background-color: #EAECF0;
}

tr:last-child 
{
   border-bottom: none;
}

#boxep {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.86em;
    color: #888888;
}


.hide {
  display: none;
}
    
.eptitles:hover + .hide {
  display: block;
  color: #888888;
}



body > section{max-width:1000px;margin:auto;padding:30px 0px;border-bottom:1px solid #999;color:#333}

#sidebarbutton{background:#286983;color:#ffffff;opacity:0.8;cursor:pointer;display:block;padding:5px;text-decoration:none}

#sidebar a.button {
    text-decoration: none;
    text-align: center;
    font-size: 0.83rem;
    background: #ebebeb;
    color: #456291;
    text-transform: uppercase;
    padding: 0.4rem;
    display: block;
    margin-bottom: 0.5rem;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.6rem;
    font-weight: 600;
}

#sidebar a.button:hover{background:#c1cad8;color:#000;text-decoration:none}

#sidebarBackTop{background:#286983;color:#FFF;opacity:0.8;cursor:pointer;display:block;padding:5px;}

#sidebar a.back2Top {
	font-size: 0.83rem;
    text-decoration: none;
    text-align: center;
    color: #959595;
    font-weight: 500;
    padding: 0.4rem;
    border-radius: 0.6rem;
    display: block;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#sidebar a.back2Top:hover{background:#c1cad8;color:#000;text-decoration:none}

#sidebarContent {
    width: 16rem;
    background: #fbfbfb;
    padding: 1.5rem;
    padding-bottom: 2rem;
}


footer a{color:#000000}

#main {
    margin-left: 18rem;
}

#wrapall {
    max-width: 1150px;
}

#header{max-width:1100px;overflow:hidden;}
#headerLeft,#headerRight{display:inline-block;vertical-align:middle}
#headerLeft{text-align:center;margin:0.7em;}

#sidebar{
	float:left;
  position: -webkit-sticky;
  position: sticky;
  top: 0;				
				}

#page {
    padding: 1rem 3rem 3rem 3rem;
}

#menuToggle{padding: 0.2em;font-size: 1.5em;font-weight: 300;text-transform: uppercase;font-family: 'Onest', sans-serif;letter-spacing: 0.5px;}
.stick #sidebarContent{height: auto;}
#stick-here{background:red}
.sidebarToggle #sidebar{display:none}
.sidebarToggle #main{margin-left:0}








.breadcrumb {
    display: flex;
    align-items: center;
}

.hero-breadcrumb {
    z-index: 6000;
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
    margin: 0 0 0 0;
    white-space: nowrap;
    overflow-x: auto;
    color: #ffffff;
    opacity: 0.7;
    font-size: 0.85rem;
}

.hero-breadcrumb:hover {
	    opacity: 1;
}

.breadcrumb-icon {
    width: 20px;
    height: 20px;
    padding: 0 4px;
    fill: #ffffff;
    flex-shrink: 0;
}

.breadcrumb-link {
    font-size: 0.85rem;
    line-height: 1.6;
    color: #ffffff;
    text-decoration: none;
}

.breadcrumb-link:hover {
    font-size: 1em;
    line-height: 14px;
    color: #ffffff;
    text-decoration: none;
    border-bottom:2px solid #ffffff;
}


















@media screen and (max-width:1100px){
header{}
#headerLeft{width:auto}
#headerRight{width:60%}
}
@media screen and (max-width:820px){#sidebar{display:none}
#main{margin-left:0}
.sidebarToggle #sidebar{background:red;display:block}
.stick #sidebarContent{bottom:auto}																	
aside > div{min-height:20px;padding:10px}
.sidebarToggle #menuToggle{background:#344;color:#ffffff}
}

@media screen and (max-width:600px){

	.article {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    font-size: 0.9rem;
}

#page {
    padding: 1rem;
}


	    .hero-title-1 {
        font-size: 2.2rem;
        display: block;
        font-family: "Stack Sans Text", sans-serif;
        color: #ffffff;
        font-weight: 500;
	}


	.hero-large {
    height: 200px;
}


.hero-blur-svg {
    height: 200px;
    filter: blur(3px);
	        width: 100%;
}

.hero-blur-background {
    height: 200px;
}

	

		.hero-date {
    display: none;
		}


	.breadcrumb-link {
    font-size: 0.8rem;
    line-height: 1.6;
    color: #ffffff;
    text-decoration: none;
}


	.hero-wrapper {
    margin-left: 0;
}


	
	
#sidebarContent {max-width: 20%}
#headerLeft{text-align:left}
#headerRight{height:auto;position:absolute;width:auto;top:46px;background:#6f9898;left:0;display:none}


	
.showMobileMenu #headerRight{display:block}
nav ul li a{display:block;background:transparent;color:#ffffff;text-align:center;font-size:16px;padding:3px 29px;line-height:25px}
.showMobileMenu #mobileMenuToggle{background:#344;color:#ffffff}
nav ul li{display:block;margin:0}
.socialButtons{display:none}
header{padding:0 0 0 0}
#wrapall{}
#sidebarContent{right:0;background:#6f9898}
#mobileLogo{display:inline-block;font-size:17px;padding:0 3px 0 10px;font-weight:bold;color:#ffffff;text-decoration:none}
#mobileMenuToggle{display:inline-block}
}


@media screen and (max-width:400px){

	#page {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

	.article {
    border-bottom: 1px solid #cccccc;
    margin: 1rem;
    font-size: 0.9rem;
	}


	.maintable {
    font-size: 0.85rem;
}
	

    .hero-title-1 {
        font-size: 1.6rem;
        display: block;
        font-family: "Stack Sans Text", sans-serif;
        color: #ffffff;
        font-weight: 500;
	}


	.hero-large {
    height: 150px;
}


.hero-blur-svg {
    height: 150px;
    filter: blur(3px);
	        width: 100%;
}

.hero-blur-background {
    height: 150px;
}

	

		.hero-date {
    display: none;
		}


	.breadcrumb-link {
    font-size: 0.8rem;
    line-height: 1.6;
    color: #ffffff;
    text-decoration: none;
}


	.hero-wrapper {
    margin-left: 0;
}
	
#sidebarContent {max-width: 20%}
#headerLeft{text-align:left}
#headerRight{height:auto;position:absolute;width:auto;top:46px;background:#6f9898;left:0;display:none}

	






	
.showMobileMenu #headerRight{display:block}
nav ul li a{display:block;background:transparent;color:#ffffff;text-align:center;font-size:16px;padding:3px 29px;line-height:25px}
.showMobileMenu #mobileMenuToggle{background:#344;color:#ffffff}
nav ul li{display:block;margin:0}
.socialButtons{display:none}
header{padding:0 0 0 0}
#wrapall{}
#sidebarContent{right:0;background:#6f9898}
#mobileLogo{display:inline-block;font-size:17px;padding:0 3px 0 10px;font-weight:bold;color:#ffffff;text-decoration:none}
#mobileMenuToggle{display:inline-block}
}
