@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Stack+Sans+Text:wght@200..700&display=swap');
 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: #0c111b;
  position: relative;
  font-family: 'Inter', sans-serif;
}

.navbar {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 4%;
    background: #0c111b;
    z-index: 10;
    display: flex;
    align-items: center;
}

.brand-logo {
  height: 120%;
}

.nav-links {
  margin: 10px;
  display: flex;
  list-style: none;
}

.nav-items a {
  text-decoration: none;
	line-height: 1.8;
  color: #fff;
  opacity: 0.9;
}

.right-container {
  display: block;
  margin-left: auto;
}

.search-box {
  border: none;
  border-bottom: 1px solid #aaa;
  background: transparent;
  outline: none;
  height: 30px;
  color: #fff;
  width: 250px;
  font-size: 16px;
  font-weight: 500px;
  transition: 0.5s;
}

.search-box::placeholder {
  color: #aaa;
}

.search-box:focus {
  width: 400px;
  border-color: #1f80e0;
}

.search-btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  width: 30px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.Subscribe {
  background: #1f80e0;
  height: 30px;
  padding: 0 20px;
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 700px;
  font-size: 12px;
  margin: 0 10px;
}

.login-btn {
  color: #fff;
  opacity: 0.9;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700px;
  text-decoration: none;
}





::-moz-selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
}
::selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
} 











.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #7091b7;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation.left::after {
  transform-origin: bottom left;
}

.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}











.carousel-container {
  position: relative;
  width: 100%;
  height: 450px;
  padding: 20px 0;
  overflow-x: hidden;
  margin-top: 80px;
}

.carousel {
  display: flex;
  width: 92%;
  height: 100%;
  position: relative;
  margin: auto;
  overflow-x: visible;
  scroll-behavior: smooth;
}

.slider {
  flex: 0 0 auto;
  margin-right: 30px;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  left: 0;
  transition: 1s;
  overflow: hidden;
}

.slider img {
  width: 60%;
  min-height: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
}

.slide-content {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to right, #030b17 80%, #0c111b00);
  color: #fff;
}

.slide-content h1 {
  font-size: 2.3rem;
  font-weight: 700;
  margin-top: 100px;
  padding-left: 30px;
  font-family: 'Onest', sans-serif;
  text-shadow: -6px 6px black;
  text-transform: none;
}

.slide-content h2 {
    font-size: 0.95rem;
    font-weight: 400;
    padding-left: 30px;
    margin-top: 0.3rem;
    opacity: 0.8;
    line-height: 1.2;
    font-family: 'Inter', sans-serif;
    text-shadow: -6px 6px black;
    text-transform: none;
}

.slide-content p {
  font-size: 1.05rem;
  font-weight: 400;
  padding-left: 30px;
  margin-top: 20px;
  opacity: 0.8;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  text-shadow: -6px 6px black;
  text-transform: none;
}

.slide-content button {
  background: #1f80e0;
  border: none;
  outline: none;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 50px;
  margin-top: 20px;
  cursor: pointer;
}

.slide-content button:hover {
  background: #1f80e0;
  opacity: 0.8;
}

.moive-title {
  padding-left: 50px;
  margin-top: 40px;
  position: absolute;
  bottom: 20px; /* Adjust this value to position the text where you want it */
  left: 0;
  right: 0;
  text-align: center; /* Center the text horizontally */
}

.moive-title h1 {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  text-shadow: -6px 6px black;
}

.movie-des {
  width: 80%;
  line-height: 30px;
  padding-left: 50px;
  margin-top: 30px;
  opacity: 0.8;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

.movie-des p {
  font-size: 10px;
  font-weight: 400;
  padding-left: 50px;
  margin-top: 20px;
  opacity: 0.8;
  font-family: 'Inter', sans-serif;
  text-shadow: -6px 6px black;
}

.video-card-container {
  position: relative;
  width: 92%;
  margin: auto;
  height: 10vw;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.video-card {
  position: relative;
  min-width: calc(100% / 5 - 10px);
  width: calc(100% / 5 - 10px);
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #030b17;
}

#play-btn,
.watchlist-btn {
  position: relative;
  width: 100%;
  background: none;
  border: none;
  font-weight: 500;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
  margin: 5px 0;
  cursor: pointer;
  padding: 10px 5px;
  border-radius: 5px;
}

.card-video,
.video-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.card-video {
  position: absolute;
}



.video-card:hover .card-video {
  display: block;
}

.video-card:hover .card-body {
  opacity: 1;
}

.card-body {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgb(4 8 15 / 0%), #20415b 100%);
    padding: 10px;
    transition: 0.5s;
}

.title {
    color: #fff;
    font-family: 'Inter', sans-serif;
    opacity: 0.9;
    font-weight: 400;
    padding-left: 4%;
    text-transform: none;
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
}

.movies-list-container {
  width: 100%;
  margin-top: 20px;
}

.movies-list {
  width: 100%;
  height: 180px;
  position: relative;
  margin: 10px 0 20px;
  overflow-x: hidden;
  overflow-y: visible;
  scroll-behavior: smooth;
  padding-left: 10px;
}

.movies-list::-webkit-scrollbar-track {
  background-color: #0c111b;
}

.movies-list::-webkit-scrollbar {
  display: none;
}

.card-container {
  position: relative;
  width: 92%;
  padding-left: 10px;
  margin: auto;
  height: 180px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  overflow-x: auto;
  overflow-y: visible;
  scroll-behavior: smooth;
}

.card-container::-webkit-scrollbar-track {
  background-color: #0c111b;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.card {
    position: relative;
    min-width: 250px;
    height: 140px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #030b17;
    margin-right: 20px;
    transition: 0.5s;
}

.card-img {
    width: 100%;
    height: 100%;
}

.card:hover {
  transform: scale(1.05);
	cursor: pointer;
}

.card:hover .card-body {
  opacity: 1;
}

.card-body {
  opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgb(4 8 15 / 0%), #20415b 100%);
    padding: 10px;
    transition: 0.5s;
}

.name {
    color: #fff;
    font-size: 0.95rem;
    font-family: 'Stack Sans Text', sans-serif;
    font-weight: 400;
    position: absolute;
    bottom: 1rem;
}

.des {
    width: fit-content;
    border-radius: 5px;
    color: #fff;
    opacity: 0.8;
    background-color: #000000cc;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    font-weight: 500;
    font-size: 0.75rem;
}

.rating {
  color: #fff;
  opacity: 0.8;
  font-weight: 500;
  font-size: 12px;
}

.watchlist-btn {
  position: relative;
  width: 100%;
  background: none;
  border: none;
  font-weight: 500;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
  margin: 5px 0;
  cursor: pointer;
  padding: 10px 5px;
  border-radius: 5px;
}

.watchlist-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  height: 35px;
  width: 35px;
  background-image: url(images/add.png);
  background-size: cover;
  transform: scale(0.4);
}

.watchlist-btn:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}

.pre-btn,
.nxt-btn {
  position: absolute;
  top: 0;
  width: 5%;
  height: 100%;
  z-index: 2;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
}

.pre-btn {
  left: 0;
  background: linear-gradient(to right, #0c111b 0%, #0c111b00);
}

.nxt-btn {
  right: 0;
  background: linear-gradient(to left, #0c111b 0%, #0c111b00);
}

.pre-btn img,
.nxt-btn img {
  width: 15px;
  height: 20px;
  opacity: 0;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.pre-btn:hover,
.nxt-btn:hover {
  background: linear-gradient(to left, #0c111b 0%, #0c111b80);
}

.pre-btn:active,
.nxt-btn:active {
  background: linear-gradient(to left, #0c111b 0%, #0c111b80);
}

.pre-btn:active img,
.nxt-btn:active img {
  opacity: 1;
}

/* Mobile Responsive  */

@media screen and (max-width: 768px) {
  .nav-links {
    font-size: 0.9rem;
  }

  .right-container {
   display:none;
  }

	.navbar {
    width: 100%;
    height: 55px;
  }

  .search-box {
    width: 200px;
  }

	.title {
    color: #fff;
    font-family: 'Inter', sans-serif;
    opacity: 0.9;
    font-weight: 400;
    padding-left: 4%;
    text-transform: none;
    font-size: 1rem;
  }

  .carousel-container {
    height: 55px;
  }

  .carousel {
    display: none;
  }

  .slider {
    margin-right: 10px;
  }

  .slide-content {
    width: 100%;
  }

  .moive-title {
    padding-left: 10px;
    margin-top: 50px;
  }

  .movie-des {
    width: 100%;
    padding-left: 10px;
    margin-top: 20px;
  }

  .video-card-container {
    height: 20vw;
  }

  .video-card {
    min-width: calc(100% / 3 - 10px);
    width: calc(100% / 3 - 10px);
  }

  .movies-list {
    height: 150px;
  }

  .card-container {
        padding-left: 0;
  }

    .card {
        min-width: 220px;
        height: 120px;
  }

  .name {
    font-size: 0.95rem;
  }

  .des {
    font-size: font-size: 0.7rem;
  }

  .rating {
    font-size: 10px;
  }

  .watchlist-btn {
    font-size: 10px;
  }

  .pre-btn,
  .nxt-btn {
    width: 10%;
  }

  .pre-btn img,
  .nxt-btn img {
    width: 10px;
    height: 15px;
  }
}

@media screen and (max-width: 500px) {
    .carousel-container {
        height: 55px;
        margin-top: 0;
  }

  .carousel {
    display:none;
  }

  .slider {
    margin-right: 10px;
  }

  .slide-content {
    width: 100%;
  }

  .moive-title {
    padding-left: 10px;
    margin-top: 50px;
  }

  .movie-des {
    width: 100%;
    padding-left: 10px;
    margin-top: 20px;
  }

  .video-card-container {
    height: 20vw;
  }

  .video-card {
    min-width: calc(100% / 3 - 10px);
    width: calc(100% / 3 - 10px);
  }

  .movies-list {
    height: 125px;
  }

	.navbar {
    height: 55px;
	}

  .card-container {
        width: 100%;
        padding-left: 0;
        height: 120px;
  }

  .card {
        min-width: 180px;
        height: 100px;
        margin-left: 5px;
  }

	.title {
    color: #fff;
    font-family: 'Inter', sans-serif;
    opacity: 0.9;
    font-weight: 400;
    padding-left: 4%;
    text-transform: none;
    font-size: 0.9rem;

  .name {
    font-size: 0.7rem;
  }

  .des {
    font-size: font-size: 0.65rem;
  }

  .rating {
    font-size: 10px;
  }

  .watchlist-btn {
    font-size: 10px;
  }

  .pre-btn,
  .nxt-btn {
    width: 10%;
  }

  .pre-btn img,
  .nxt-btn img {
    width: 10px;
    height: 15px;
  }
}

@media screen and (max-width: 400px) {
  .carousel-container {
    height: 200px;
  }

  .carousel {
    width: 100%;
  }

  .slider {
    margin-right: 10px;
  }

  .slide-content {
    width: 100%;
  }

  .moive-title {
    padding-left: 10px;
    margin-top: 50px;
  }

  .movie-des {
    width: 100%;
    padding-left: 10px;
    margin-top: 20px;
  }

  .video-card-container {
    height: 20vw;
  }

  .video-card {
    min-width: calc(100% / 3 - 10px);
    width: calc(100% / 3 - 10px);
  }

  .movies-list {
    height: 180px;
  }

  .card-container {
    width: 100%;
    padding-left: 0;
  }

  .card {
    min-width: 100px;
    width: 100px;
    height: 150px;
    margin-right: 5px;
  }

  .name {
    font-size: 12px;
  }

  .des {
    font-size: 10px;
  }

  .rating {
    font-size: 10px;
  }

  .watchlist-btn {
    font-size: 10px;
  }

  .pre-btn,
  .nxt-btn {
    width: 10%;
  }

  .pre-btn img,
  .nxt-btn img {
    width: 10px;
    height: 15px;
  }
}

.last-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 5%;
  color: #999999;
  font-size: 12px;
  margin-bottom: 50px;
}
.dwn {
  min-width: 100%;
  width: 100px;
  height: 100%;
}
.last-footer-links,
.last-footer-images {
  display: flex;
  gap: 10px;
  padding: 10px 0;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 4%;
  font-size: 15px;
  margin-top: 30px;
}
.intro a {
  color: #fff;
}
.intro a:hover {
  transform: scale(1.1);
}

.intro-links {
  display: flex;
  gap: 20px;
}

.intro-images {
  display: flex;
  gap: 20px;
}

.intro-images img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.intro-images img:hover {
  transform: scale(1.1);
}

.intro-links a {
  color: #fff;
  text-decoration: none;
}

.intro-links a:hover {
  transform: scale(1.1);
}

.intro-links a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}

.intro-links a:hover::after {
  width: 100%;
  transition: width 0.3s;
}
