html, body {
    margin: 0 0.5em 0 0.5em;
    padding: 0;
    background-image: url(/text/nebula.png);
    background-attachment: fixed;
    background-size: cover;
}



::-moz-selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
}
::selection {
	background: #cfd8e4;
	text-shadow: none;
  color:#000000;
} 



h2 {
    font-size: 3.5em;
    font-family: 'Onest', sans-serif;
    letter-spacing: 1px;
    transform: rotate(-2deg);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    text-align: center;
    margin: 0.5em;
}

#about {
text-align: left;
    max-width: 500px;
    padding: 1em;
    margin: auto;
    background: #ffffff;
    border-radius: 1.5em;
}

#about img {
    max-width: 100%; 
    height: auto;
    display: block;
    margin-bottom: 15px; 
    border-radius: 1em;
}

#about p {
font-family: 'Inter', sans-serif;
    color: #3a3a3a;
    font-size: 0.9em;
    text-align: left;
    margin-bottom: 0.5em;
    line-height: 1.4;
}

#about a {
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px dotted #000000;
    color: #3A2918;
}



#about a:hover {
    background: #16092D;
    color: #ffffff;
}
