body{
 background-color: white;
 font-size: 14px;
 overflow-y: scroll;
 padding: 1em;
 text-align: left;
 max-width: 100%;
 line-height: 1.3em;
}

a {
 color: red;
 text-decoration: underline;
 font-style: italic;
}

a:visited{
 color: red;
 text-decoration: underline;
 font-style: italic;
}

a:hover{
 color: black;
 text-decoration: underline;
}

.text{
 float: left;
 width: 45%;
 padding: 1em;
}


.navi{
  width: 30%;
  padding: 1em;
  text-align:center;
}

img {
  width:100%;
}
